<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ВИДОВЕ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
          <p>Hess et al., 1997</p>
          <p>
              Фенологични фази на растеж и BBCH- ключове за тяхната идентификация при плевелни видове:
          </p>
          <p>M – Едносемеделни;</p>
          <p>D – Двусемеделни;</p>
          <p>G – Житни;</p>
          <p>P –  Многогодишни растения;</p>
          <p>V – Развитие от вегетативни части или размножителни органи;</p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th colspan="2">Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Тук няма Снимки -->
  
</div>


<!-- class="line-up-bold" colspan="2" -->
<!-- class="bold line-bold" colspan="2" -->
<!-- class="bold line-bottom" colspan="2" -->
<!-- 
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
 -->







