<!-- <div class="row text-center" id="prz-loader" *ngIf="!isLoaded">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div> -->
<!-- *ngIf="isLoaded" -->
<div  id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЯГОДОПЛОДНИ КУЛТУРИ</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ МАЛИНА</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/092(1)</p>
        <p class="number-eppo">№ на ЕРРО РР 2/26(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.I ст. д.с.н. Никола Атанасов<br/>
                ст.н.с.II ст. д-р Ньонка Велчева<br/>
                ст.н.с.II ст. д-р Нонка Бакърджиева<br/>
                ст.н.с.II ст. д-р Ганка Баева<br/>
                н.с. д-р Елена Цолова<br/>
                д-р Петър Николов - НСРЗ<br/>
                Маргарита Ценова - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ МАЛИНА*</h2>
    </div>
    
    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при малина.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p>
                Основната цел на тази технология е да се представи една добра растителнозащитна практика при 
                малината. Основният принцип на тази практика е да се прилагат съвместно всички методи за 
                борба, включително и агротехническите, с които да се създават неблагоприятни условия за 
                развитието на вредителите.
            </p>
            <p>
                У нас от малиновите култури основно се отглежда видът <span class="latin_name">Rubus idaeus</span>. 
                Българските сортове малини Български рубин, Шопска алена, Искра, Самодива и Люлин са с 
                доказани качества на международния пазар и добре приспособени към местните климатични условия.
            </p>
            <p>
                Добрата растителнозащитна практика при малината се основава на следните по-важни принципи:
            </p>
            <p>
                - използване на сертифициран и свободен от вирусни и микоплазмени болести здрав посадъчен материал;
            </p>
            <p>
                - правилен избор на подходящи площи за нови насаждения;
            </p>
            <p>
                - спазване на всички основни агротехнически мероприятия за отглеждане на културата (мястото 
                за засаждане да е изцяло изложено на слънчева светлина и да осигурява добра въздушна 
                циркулация, да е добре защитено от отрицателните температури през зимните месеци, почвата да 
                е с добър въздушен дренаж);
            </p>
            <p>
                - новите малинови насаждения трябва да бъдат създавани при пространствена изолация не по-малко 
                от 600 м от диворастящите видове и да са чисти от многогодишни плевели.
            </p>
            <p>
                - обработки като риголване, дълбока оран и ограждане с канавки създават неблагоприятни 
                условия за развитието на вредителите.
            </p>
            <p>
                Не се счита за ДРЗП прилагането на системно обеззаразяване на почвата преди засаждането на 
                растенията като метод за борба срещу някои почвени неприятели и нематоди. Обеззаразяването на 
                почвата трябва да се провежда само в случаите, когато е необходимо, преди засаждането на 
                растенията в маточниците, за да се контролират нематодите - преносители на вирусни болести, 
                плевелите и други почвени вредители.
            </p>
            <p>
                Рискът от заразяване на малиновата култура се намалява значително, ако непосредствено след 
                прибиране на реколтата всички стари и заразени от болести и неприятели нови издънки се 
                изрязват, отстраняват и унищожават. Прилагането на продукти за растителна защита и 
                агротехнически методи, като поддържане на оптимална гъстота на издънките в редовата ивица в 
                малиновите насаждения (с цел да се осигури по-добро развитие на листата на растенията) 
                подобрява значително ефикасността на прилаганите продукти за растителна защита. Добрата 
                растителнозащитна практика включва използването на подходяща техника за приложение на 
                продукти за растителна защита. Болести, причинявани от вируси и фитоплазми, не са включени 
                в настоящата технология, защото цялостната концепция на ДРЗП предполага използването на 
                здрав посадъчен материал и елиминирането на насекомите преносители.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum" 
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/8-jagodoplodni-prilojenie.pdf"
                >
                    * Виж приложение 7
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->
    
    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители по малината са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#didimella" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Дидимела - <span class="latin_name">Didimella applanata</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#leptosphaeria" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Изсъхване на леторастите на малината - <span class="latin_name">Leptosphaeria coniothirium</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#gleosporium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Антракноза - <span class="latin_name">Gleosporium venetum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#septoria" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Септориоза - <span class="latin_name">Septoria rubi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#botryotinia" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сиво гниене - <span class="latin_name">Botryotinia fuckeliana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phragmidium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ръжда - <span class="latin_name">Phragmidium rubi-idaei</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phytophthora-fragari" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Червено кореново гниене - <span class="latin_name">Phytophthora fragariа var. rubi.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#verticillium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вертицилийно увяхване - <span class="latin_name">Verticillium ssp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#agrilus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Малинов агрилус - <span class="latin_name">Agrilus aurichalceus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#thomassiniano" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Малиново комарче - <span class="latin_name">Thomassiniano theobaldi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lasioptera-rubi" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Малинова стъблена галица - <span class="latin_name">Lasioptera rubi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#byturus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновен малинов бръмбар - <span class="latin_name">Byturus tomentosus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#aphis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листни въшки
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tetranychus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Паяжинообразуващи акари
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phyllocoptes-gracilis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Малинов акар - <span class="latin_name">Phyllocoptes gracilis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <!-- <div *ngFor="let practice of practices">
        <div class="aa-title" id="{{practice.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}" 
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" lazy-load="{{image.thumbPath}}" 
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice.tablePiv !== null">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Дидимела -->
    <div class="aa-title" id="didimella"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Петносване около пъпките на леторастите - <span class="latin_name">Didimella applanata</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                У нас дидимелата се среща във всички малинови насаждения. През пролетта предимно около 
                пъпките на новите леторасти и издънките се появяват синкаво-кафяви до виолетово-кафяви 
                елипсовидни петна, които често достигат големина 2-3 см. Постепенно петната се разпространяват 
                и обхващат пръстеновидно цялото стъбло. С напредване на вегетацията нападнатата тъкан става 
                сиво-кафява, листата пожълтяват и окапват, като остават само дръжките им, а кората се напуква. 
                През следващата година засегнатите пъпки не се развиват или ако се развият, образуват съвсем 
                слаби леторасти. При силно нарастване на петната през следващата пролет издънките загиват. 
                В някои случаи болестта засяга и листата, по които се образуват продълговати некротични 
                петна, разположени успоредно на главната нерватура.
            </p>
            <p>
                Причинителят на болестта е гъбата <span class="latin_name">Didimella applanata</span>, 
                която най-често развива мицел само в кората, без да прониква навътре в тъканите на стъблото. 
                Гъбата презимува в заразените издънки. През пролетта се образуват двуклетъчни аскоспори, 
                които при влажни условия през май и юни заразяват новите леторасти. Влажното време и стари 
                гъсто насадени насаждения са предпоставка за масовото разпространение на инфекцията.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Борбата срещу дидимелата е профилактична и се състои в предпазване на младите издънки от 
                заразяване със спори. Първото третиране се извършва, когато издънките достигнат височина 
                10-15 см. При необходимост се провежда второ третиране след 10-15 дни. Борбата с плевелите 
                и ограниченото азотно торене допринасят за намаляване развитието на болестта. 
            </p>
            <p>
                Препоръчва се: да се засаждат устойчиви на заболяването сортове и да се осигурява много 
                добра проветривост на малиновите насаждения, като редовно се извършва резитба за прореждане 
                и съкращаване на издънките. Третиранията с фунгициди срещу сивото гниене въздействат и срещу дидимелата.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                <span class="active-substance">флузилазол, ипродион, меденоксихлорид + цинеб.</span>
            </p>
        </div>
        <div class="pest-image-container " >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/diseases/Didymella_applanata.jpg" 
                    data-title="Didimella applanata">
                        <img src="../../../../../assets/diseases/Didymella_applanata_thumb.jpg" 
                        alt="Didimella applanata" title="Дидимела"/>
                        <span class="title_thumb">Дидимела</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Дидимела -->

    <!-- Изсъхване на леторастите -->
    <div class="aa-title" id="leptosphaeria"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Изсъхване на леторастите - <span class="latin_name">Leptosphaeria coniothirium</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Болестта изсъхване на леторастите се среща заедно с дидимелата. Причинителят се развива в 
                основата на леторастите, като в повечето случаи прониква през рани, причинени при 
                обработката, или от малиновото комарче .
            </p>
            <p>
                При заразяване гъбата навлиза дълбоко в тъканите на леторастите и достига до сърцевината. 
                Тя причинява петна, които постепенно се разрастват и на следващата година обхващат като 
                пръстен цялото стъбло. Кората се напуква и започва да се бели. Листата на заразените растения 
                издребняват и увяхват. На следващата година целите издънки постепенно изсъхват. По 
                нападнатите части гъбата образува многобройни черни плодни тела, които презимуват. Те са 
                източникът на зараза през следващата пролет.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Както при дидимелата.
            </p>
        </div>
        <div class="pest-image-container " >
            
        </div>
    </div>
    <!-- КРАЙ Изсъхване на леторастите -->

    <!-- Антракноза -->
    <div class="aa-title" id="gleosporium"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Антракноза - <span class="latin_name">Gleosporium venetum</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Гъбата, причинител на антракнозата, образува дребни закръглени петна по младите издънки, 
                които впоследствие се разрастват в по-едри елипсовидни червено-кафяви петна със 
                сребристобял, много вдлъбнат център. Мицелът на гъбата прониква дълбоко в тъканите на 
                леторастите и ги некротира, впоследствие на което те лесно се пречупват от вятъра. При силна 
                зараза по леторастите се образуват много петна, които затормозяват сокодвижението и 
                растенията отслабват. Както през текущата година, така и през следващата болните растения 
                образуват по-малко плодове и добивът значително намалява. Гъбата зимува като мицел в 
                заразените части. През пролетта се образуват спори, които причиняват първите пролетни 
                заразявания. Развитието на болестта продължава от началото на вегетацията на растенията до листопада им.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Както при дидимела.
            </p>
        </div>
        <div class="pest-image-container " >
            
        </div>
    </div>
    <!-- КРАЙ Антракноза -->

    <!-- Септориоза -->
    <div class="aa-title" id="septoria"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Септориоза - <span class="latin_name">Septoria rubi</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Причинителят на болестта заразява както културните, така и диворастящите малини и къпини. 
                Гъбата напада листата и стъблата на растенията. По листата се образуват неправилни, 
                закръглени, средно големи (2-3 мм) белезникави петна с виолетово-червена периферия. Върху 
                петната се образуват плодните тела на гъбата. Засегнатата тъкан постепенно изсъхва и заедно 
                с плодните тела опада. При силно нападение изсъхват и тъканите между петната и листата 
                окапват. Това предизвиква образуване на нови листа, което изтощава растенията и те лесно 
                измръзват. Гъбата зимува в окапалите листа и в леторастите.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Борбата е както при дидимелата.
            </p>
        </div>
        <div class="pest-image-container " >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/diseases/Coryneopsis_rubi_lindsey.jpg" 
                    data-title="Септориоза - Septoria rubi">
                        <img src="../../../../../assets/diseases/Coryneopsis_rubi_lindsey_thumb.jpg" 
                        alt="Septoria rubi" title="Септориоза"/>
                        <span class="title_thumb">Септориоза</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Септориоза -->

    <!-- Сиво гниене -->
    <div class="aa-title" id="botryotinia"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Сиво гниене - <span class="latin_name">Botryotinia fuckeliana</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Сивото гниене засяга цветовете, плодовете и издънките на младите малини. Причинителят на 
                гъбната болест заразява цветовете по време на разтварянето им. Гъбата засяга и застаряващите 
                листа на младите растения и причинява светлокафяви петна по стъблата. Пазвените пъпки на 
                засегнатите разклонения са по-малки по размер от незасегнатите и от тях обикновено не се 
                развиват издънки през следващата пролет, което значително намалява добива. По плодовете 
                гъбата образува сиво-кафяв плътен налеп.
            </p>
            <p>
                Гъбата презимува по стъблата под формата на големи черни възли, които през пролетта са 
                източник на нова зараза.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Третирането на растенията с фунгициди трябва да започне във фенофаза бутонизация. Следващото 
                третиране е по време на масовия цъфтеж, а последното - 10 дни по-късно. Младите стъбла с 
                признаци на сиво гниене трябва да се отстраняват през есента, когато се извършва резитбата 
                на плододаващите издънки.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                Няма регистрирани продукти за растителна защита, но могат да се използват регистрираните при 
                други култури, като: 
                <span class="active-substance">винклозолин, ипродион, процимидон, пириметанил, хлороталонил.</span>
            </p>
        </div>
        <div class="pest-image-container " >
            
        </div>
    </div>
    <!-- КРАЙ Сиво гниене -->

    <!-- Ръжда -->
    <div class="aa-title" id="phragmidium"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Ръжда - <span class="latin_name">Phragmidium rubi-idaei</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Ръждата се проявява в началото на лятото и причинява преждевременно окапване на листата. През 
                ранните фази на заболяването се появяват жълти спори по горната повърхност на листата, а след 
                това и по долната. Това е фазата на заболяването, когато то се пренася по въздушен път. 
                По-късно през вегетационния период се появяват черни спори по долната повърхност на листата, 
                които презимуват. Заболяването се проявява спорадично.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Заразените листа трябва да се премахнат още през есента и да се унищожат диворастящите в 
                близост малини. Третирането с фунгициди да започне още при първите симптоми на болестта, с 
                което ще се ограничи окапването на листата в по-късните стадии от развитието на растенията.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                Няма одобрени, но могат да се използват - <span class="active-substance">дитианон, триадимефон</span>.
            </p>
        </div>
        <div class="pest-image-container " >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/diseases/Phragmidium.rubi-idaei_lindsey.jpg" 
                    data-title="Ръжда - Phragmidium rubi-idaei">
                        <img src="../../../../../assets/diseases/Phragmidium.rubi-idaei_lindsey_thumb.jpg" 
                        alt="Phragmidium rubi-idaei" title="Ръжда"/>
                        <span class="title_thumb">Ръжда</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Ръжда -->

    <!-- Червено кореново гниене -->
    <div class="aa-title" id="phytophthora-fragari"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Червено кореново гниене - <span class="latin_name">Phytophthora fragariа var. rubi.</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Червеното кореново гниене причинява масово заразяване, което може да унищожи цели малинови 
                насаждения. Причинителят на заболяването се намира в почвата и се разпространява бързо с 
                поливната вода. Засягат се корените на малините, издънките увяхват и често загиват само за 
                един вегетационен период. Признаците се проявяват в ранна пролет като огъване на върховете на 
                стъблата на младите издънки. Червеното кореново гниене може да причини загиване на растенията 
                дори при оптимални условия, а други видове фитофторно гниене могат да причинят подобно 
                заболяване при задържане на вода в почвата и високи подпочвени води в малиновите насаждения.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Насажденията трябва да са с добър почвен дренаж. Третиране с почвени фунгициди се прилага през есента.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                Няма одобрени ПРЗ.
            </p>
        </div>
        <div class="pest-image-container " >
            
        </div>
    </div>
    <!-- КРАЙ Червено кореново гниене -->

    <!-- Вертицилийно увяхване -->
    <div class="aa-title" id="verticillium"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Вертицилийно увяхване - <span class="latin_name">Verticillium dahlie, Verticillium albo-atrum</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                При заразяване на малините с <span class="latin_name">Verticillium dahlie</span> 
                и в по-малка степен с <span class="latin_name">Verticillium albo-atrum</span> 
                малините загиват. Болестта се проявява по-често при ремонтантните сортове.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Не е ДРЗП засаждането на малини след предшественици домати, картофи, патладжани, червени 
                чушки и други култури,които се нападат от вертицилийно увяхване. Най-ефективен метод е 
                изкореняването на болните растения.
            </p>
        </div>
        <div class="pest-image-container " >
            
        </div>
    </div>
    <!-- КРАЙ Вертицилийно увяхване -->

    <!-- Малинов агрилус -->
    <div class="aa-title" id="agrilus"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Малинов агрилус - <span class="latin_name">Agrilus aurichalceus</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Малиновият агрилус е разпространен в цялата страна. Вреди ларвата, която дълбае спираловидни 
                ходове под кората на едногодишните издънки и по-рядко в двугодишните. Възрастното бръмбарче 
                е дребно (6-7 мм), със сплеснато тяло и заострена задна част. Ларвата е белезникава, 
                овално-продълговата, без крака. Зимуват напълно развитите ларви в едногодишните малинови 
                издънки. Какавидират в края на април - началото на май. Какавидният стадий продължава 
                20-30 дни. Възрастните се хранят с листата, като ги нагризват на ивици, но нанесените щети 
                не са големи. Женските снасят яйцата поединично по кората на едногодишните издънки. 
                Ларвите се излюпват след около една седмица. Те се вгризват в стъблата, в които правят къси, 
                спираловидни ходове. В резултат се оформят вретеновидни образувания и ходове с дължина 
                по-дълги от 50 см. В края на лятото върховете на издънките, разположени над повредата, 
                изсъхват и се пречупват. Неприятелят има едно поколение годишно. 
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Изрязване и изгаряне на нападнатите стъбла през есента или рано напролет. Химичната борба 
                трябва да бъде проведена по време на масовия летеж, преди началото на яйцеснасяне.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                Няма регистрирани инсектициди.
            </p>
        </div>
        <div class="pest-image-container " >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/insects/Malinin-prstenar.jpg" 
                    data-title="Малинов агрилус">
                        <img src="../../../../../assets/insects/Malinin-prstenar_thumb.jpg" 
                        alt="Agrilus aurichalceus" title="Малинов агрилус"/>
                        <span class="title_thumb">Малинов агрилус</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <table class="piv_table">
            <thead>
                <tr>
                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                    <th>
                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr_name_pest">
                    <td colspan="3" class="tr_latin">МАЛИНОВ АГРИЛУС <span class="latin_name">Agrilus (aurichalceus) rubicola</span></td>
                </tr>
                <tr>
                    <td>вегетация</td>
                    <td>възрастни</td>
                    <td>4-5 бр. на 30 стръсквания/кв.м</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- КРАЙ Малинов агрилус -->

    <!-- Малиново комарче -->
    <div class="aa-title" id="thomassiniano"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Малиново комарче - <span class="latin_name">Thomassiniano theobaldi</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Среща се почти навсякъде, където се отглеждат малини. Повредите нанасят ларвите, които се хранят с 
                тъканите под епидермиса на младите издънки.
            </p>
            <p>
                Възрастното насекомо е дребно комарче, около 2 мм, с черен гръден щит и червеникаво коремче. 
                Ларвата непосредствено след излюпването си е жълтеникаво бяла, а напълно изхранената оранжево-червена.
            </p>
            <p>
                Малиновото комарче зимува като напълно развита ларва в малка землиста капсулка, формирана от 
                хитинова обвивка с полепнали парченца пръст, около стъблата на растенията в почвата. Възрастните 
                се появяват през май. Женските снасят яйцата на купчинки по стъблата на младите издънки При 
                вгризване ларвите образуват малки ранички, през които при влажно време проникват причинителите 
                на болести. Разрушаването на стъблата става видимо през лятото Повредените стъбла линеят и 
                увяхват, от тях не израстват издънки и не се образуват пъпки. Вследствие на повредите стъблата 
                изтъняват и загиват през зимата. Малиновото комарче развива три поколения годишно и частично четвърто.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Борбата с комарчето се провежда комбинирано с борбата срещу дидимелата. При първото и второто 
                третиране срещу болестта към работния разтвор трябва да се прибавят системни инсектициди за 
                борба и с ларвите на комарчето.
            </p>
            <p>
                Летежът на малиновото комарче може да се проследи с жълти визуални уловки.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                Няма регистрирани ПРЗ.
            </p>
        </div>
        <div class="pest-image-container " >
            
        </div>
    </div>
    <!-- КРАЙ Малиново комарче -->

    <!--Малинова стъблена галица  -->
    <div class="aa-title" id="lasioptera-rubi"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Малинова стъблена галица - <span class="latin_name">Lasioptera rubi</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Малиновата галица е разпространена по-масово в по-южните райони на страната, но се среща 
                навсякъде, където се отглежда малиновата култура. Възрастното насекомо е черна муха 
                (2-2,5 мм) със сребристи космици по преднегръда и с белезникави ивици по долната част на 
                коремчето. Ларвите са много дребни, оранжево-червеникави дълги 3,5-4 мм.
            </p>
            <p>
                Възрастните галици се появяват през пролетта и след копулацията женските започват да снасят 
                яйцата си на купчинки по младите издънки на малините. След около една седмица се излюпват 
                ларвите. Те се вгризват в кората, където започват да се хранят. На мястото на вгризването се 
                образуват гали, които са резултат от измененията на тъканите под влияние на отделения от 
                ларвите секрет. Заразените растения много лесно се пречупват на мястото на вгризването на 
                галицата или изсъхват. Ларвите зимуват в галите и там какавидират през пролетта на следващата 
                година. Неприятелят развива едно поколение годишно.
            </p>
            <p></p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Препоръчва се ниско изрязване на леторастите под галите. При масово нападение са належащи 
                третирания с инсектициди, които се прилагат по време на масовия летеж на възрастните.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                Няма регистрирани ПРЗ.
            </p>
        </div>
        <div class="pest-image-container " >
            
        </div>
    </div>
    <!-- КРАЙ Малинова стъблена галица -->

    <!-- Обикновен малинов бръмбар -->
    <div class="aa-title" id="byturus"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Обикновен малинов бръмбар - <span class="latin_name">Byturus tomentosus</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Възрастното насекомо е сиво-черен бръмбар, покрит с гъсти, ръждивожълти космици. Дължината 
                на тялото достига до 4 мм. Напълно развитата ларва е жълтеникава, с тъмна глава и редки 
                космици. Вредят основно ларвите, които причиняват червясване на плодовете, следствие на което 
                добивът намалява с около 30%. Неприятелят развива едно поколение годишно и зимува като 
                възрастно насекомо в почвата. Излизат през пролетта преди цъфтежа на растенията и са активни 
                до август. Женските снасят яйцата си в цветовете на малини, къпини и хибридни ягодоплодни 
                култури. Ларвите се развиват в цветовете и дръжките, като използват за храна оформящите се 
                зелени плодове и не винаги се забелязват. Когато плодовете узреят, ларвите падат на земята 
                и какавидират в почвата на дълбочина от 5 до 20 cм. В края на август се появяват бръмбарите 
                от новото поколение, които не излизат на повърхността на почвата, а остават да зимуват в нея.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Началото на летеж на обикновения малинов бръмбар може да бъде проследено с помощта на бели 
                уловки. Третиранията с продукти за растителна защита се прилагат преди и непосредствено 
                след цъфтежа. Не трябва да се третира по време на цъфтеж, защото инсектицидите са опасни 
                за пчелите и други опрашващи насекоми.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                Няма регистрирани, могат да се използват 
                <span class="active-substance">хлорпирифосетил и делтаметрин</span>.
            </p>
        </div>
        <div class="pest-image-container " >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/insects/Byturus_tomentosus.jpg" 
                    data-title="Обикновен малинов бръмбар - Byturus tomentosus">
                        <img src="../../../../../assets/insects/Byturus_tomentosus_thumb.jpg" 
                        alt="Byturus tomentosus" title="Малинов бръмбар"/>
                        <span class="title_thumb">Малинов бръмбар</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Обикновен малинов бръмбар -->

    <!-- Листни въшки -->
    <div class="aa-title" id="aphis"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Листни въшки</h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Най-разпространените листни въшки по малината са <span class="latin_name">Aphis idae Goot</span> и 
                <span class="latin_name">Amphorophora rubi Klt</span>. Те зимуват като яйца върху издънките 
                на малините. Ларвите се излюпват в началото на пролетта. Отначало те смучат сок от 
                разпуканите пъпки, а по-късно от младите листа, леторасти и съцветията. При благоприятни 
                климатични условия листните въшки нанасят сериозни щети върху добива, като плодовете остават 
                дребни и безвкусни. <span class="latin_name">Amphorophora rubi</span> пренася вредни за 
                малината вирусни болести.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                При ниска численост на листните въшки полезните насекоми могат да поддържат популациите под 
                прага на икономическа вредност. Когато числеността е висока, трябва да се провеждат 
                третирания с инсектициди.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                Няма регистрирани, но могат да се прилагат <span class="active-substance">диметоат, 
                пиримикарб, хлорпирифос-метил, делтаметрин, ламбдацихалотрин, парафинови и минерални масла</span>.
            </p>
        </div>
        <div class="pest-image-container " >
            
        </div>
    </div>
    <!-- КРАЙ Листни въшки -->

    <!-- Паяжинообразуващи акари -->
    <div class="aa-title" id="tetranychus"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Паяжинообразуващи акари - <span class="latin_name">Tetranychus urticaе</span> и <span class="latin_name">Tetranychus turkestani</span></h3>
            <h4 class="my_class_h4">Описание на неприятелите</h4>
            <p>
                Причиняват сериозни повреди по листата на малината. Те имат близки морфологични белези и 
                сходни биоекологични особености. Вредят, като пробиват епидермиса на листа и изсмукват част 
                от клетъчния сок. На местата на убождането се появяват малки светли точковидни петна. 
                Техният брой бързо нараства и листът придобива мраморен вид. По-късно петната стават кафяви, 
                сливат се и обхващат целия лист. На мястото на обитаването си акарите изплитат паяжина. 
                Плодовете на повредените растения остават дребни и безвкусни с ниско съдържание на захари.
            </p>
            <p>
                Паяжинообразуващите акари са дребни по размери, трудно забележими и обитават долната 
                повърхност на листата. Оцветяването на тялото варира от бледожълто и зеленикаво до червено и 
                кафяво и се променя в зависимост от пола, хранителното растение и сезоните. Зимуващите женски 
                имат керемидено червен цвят. От двете страни на гърба на 
                <span class="latin_name">T. urticae</span> се наблюдават две по-тъмни петна, а при 
                <span class="latin_name">T. turkestani</span> те са няколко.
                    
            </p>
            <p>
                 Оптимални за развитието на паяжинообразуващите акари са температурите 25-28<sup>o</sup>С и 
                 относителна влажност 60-80%. Развиват 10-12 поколения годишно в зависимост от климатичните условия.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Борбата с паяжинообразуващите акари е успешна, когато се проведе при достигнат икономически 
                праг на вредност - 2-3 акара средно на лист. За целта периодично се вземат листни проби и се 
                отчита плътността на акарите, като едновременно се следи и за числеността на акарофагите. 
                При 4-5 специализирани хищника (акарофаги) на 100 акара не се извършват третирания с акарициди. 
                Отглеждането на толерантните към паяжинообразуващите акари сортове - Люлин и Шопска алена 
                може да ограничи повредите от тях и да намали броя на третиранията.
            </p>
            <p>
                Паяжинообразуващите акари бързо формират устойчивост към прилаганите акарициди. За да се 
                предотврати появата й, е задължително да се редуват акрициди с различни активни вещества. 
                Препоръчително е преди употребата им да се направи тест за резистентност.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                Срещу паяжинообразуващите акари по малината в България няма регистрирани акарициди, но могат 
                да се използват регистрираните срещу тях по други култури: 
                <span class="active-substance">абамектин, бифентрин, хекситиазокс, клофентезин, 
                фенпироксимат, тебуфенпират, пиридабен.</span>
            </p>
        </div>
        <div class="pest-image-container " >
            
        </div>
    </div>
    <!-- КРАЙ Паяжинообразуващи акари -->

    <!-- Малинов акар -->
    <div class="aa-title" id="phyllocoptes-gracilis"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Малинов акар - <span class="latin_name">Phyllocoptes gracilis</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Той е ериофиден акар, дребен по размер с вретеновидно, удължено, ръждивочервеникаво тяло. 
                В резултат на храненето си причинява в началото на вегетацията напетняване и побеляване на 
                връхните зелени части на пъпките, наподобяващо слънчев пригор. Повредите водят до 
                закържавяване и загиване на растенията и намаляване на добивите.
            </p>
            <p>
                Този акар зимува около пъпките в гънките на кората като възрастни женски. Презимувалите 
                индивиди се активизират през пролетта, когато пъпките започнат да се развиват.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Борбата в плододаващите насаждения трябва да се провежда в началото на вегетацията, когато 
                листната маса е малко и може да се покрие с разтвора на продукта. Обикновено две третирания, 
                проведени през 10 дни, могат да опазят растенията от акари. Много от инсектицидите, 
                използвани срещу другите неприятели по малината, могат да доведат до силно редуциране на 
                малиновия акар.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                У нас няма регистрирани акарициди за борба с малиновия акар. Могат да се препоръчат 
                акарицидите, регистрирани срещу другите видове акари, които действат и срещу него: 
                <span class="active-substance">диметоат, бифентрин, абамектин</span>.
            </p>
        </div>
        <div class="pest-image-container " >
            
        </div>
    </div>
    <!-- КРАЙ Малинов акар -->

    <!-- Плевели -->
    <div class="aa-title" id="weed"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Плевели</h3>
            <p class="undeline bold" style="margin: 0; padding: 0">Едногодишни житни плевели</p>
            <p>
                Зелена кощрява - <span class="latin_name">Setaria viridis</span>; 
                Сива кощрява - <span class="latin_name">Setaria glauca</span>; 
                Кокоше просо - <span class="latin_name">Echinochloa crus-galli</span>
            </p>
            <p class="undeline bold" style="margin: 0; padding: 0">Едногодишни широколистни плевели </p>
            <p>
                Обикновен щир - <span class="latin_name">Amaranthus retroflexus</span>; 
                Бяла лобода - <span class="latin_name">Chenopodium album</span>; 
                Лападово- листно пипериче - <span class="latin_name">Poligonum lapathifolium</span>; 
                Врабчови чревца - <span class="latin_name">Stellaria media</span>; 
                Обикновен спореж - <span class="latin_name">Senecio vulgaris</span>; 
                Петниста бударица - <span class="latin_name">Galeopsis tetrahit</span>; 
                Дребноцветна галинзога - <span class="latin_name">Galinsoga parviflora</span>; 
                Лепка трирога - <span class="latin_name">Galium tricorne</span>; 
                Полски синап - <span class="latin_name">Sinapis arvensis</span>;
            </p>
            <p class="undeline bold" style="margin: 0; padding: 0">Многогодишни коренищни плевели</p>
            <p>
                Пирей - <span class="latin_name">Agropyrum repens</span>; 
                Мента дълголистна - <span class="latin_name">Mentha longifolia</span>
            </p>
            <p class="undeline bold" style="margin: 0; padding: 0">Многогодишни кореновоиздънкови плевели</p>
            <p>
                Паламида - <span class="latin_name">Cirsium arvense</span>; 
                Повитица - <span class="latin_name">Convolvulus arvensis</span>; 
                Родилна трева - <span class="latin_name">Lepidium draba</span>; 
                Млечок - <span class="latin_name">Sonchus arvensis</span> 
            </p>
            <p class="undeline bold" style="margin: 0; padding: 0">Многогодишни с вретеновиден корен</p>
            <p>
                Къдрав лапад - <span class="latin_name">Rumex crispus</span>
            </p>
            <h4 class="my_class_h4">Общи сведения</h4>
            <p>
                Основна група, обуславящи облика на заплевеляване в малиновото насаждение, са едногодишните широколистни видове.
            </p>
            <p>
                Продължителното отглеждане на малината на една и съща площ, създаване на насажденията на 
                площи, заплевелени с многогодишни видове, и несистемни грижи по време на вегетация създават 
                условия за масово развитие на многогодишните плевели. 
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Ефикасната борба срещу многогодишните плевели се осъществява чрез предварителното им 
                унищожаване преди създаване на насажденията. При площи, силно заплевелени с многогодишни 
                кореновоиздънкови плевели, само с обработка на почвата не може напълно да се унищожат 
                подземните органи на плевелите.
            </p>
            <p>
                Необходимо е прилагане на хербициди, което зависи от предшественика, видовото разнообразие 
                на плевелите и климатичните условия. При освобождаване на площта в края на юни, началото 
                на юли засаждането се извършва през есента. За унищожаване на плевелите се използват 
                хербициди на база <span class="active-substance">глифозат</span>.
            </p>
            <p>
                При отглеждане на малинови насаждения първата обработка на почвата се извършва рано напролет 
                при първа възможност за влизане в насаждението. Междуредията се обработват машинно - с 
                фреза или култиватор. При използване на почвени хербициди за борба с плевелите последните 
                се внасят непосредствено след обработка на почвата. В края на вегетацията насажденията се 
                обработват още веднъж, като в зависимост от уплътняването на почвата се прилага култивиране 
                или плитка оран на дълбочина 10-15 см.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                В редовата ивица може да се приложи: 
                <span class="active-substance">пендиметалин, флуорохлоридон</span> - 
                внасят се напролет, преди поникване на плевелите (почвено). Преди началото на вегетация на 
                малините се препоръчва: <span class="active-substance">оксифлуорфен</span> (почвено).
            </p>
            <p class="as">
                <span class="active-substance">Дихлобенил</span> - прилага се през есенно-зимния период 
                или много рано напролет (почвено).
            </p>
            <p class="as">
                Срещу многогодишните житни плевели (балур, троскот, пирей) и при вторично заплевеляване с 
                едногодишни житни: <span class="active-substance">пропаквизафоп, квизалофоп-П-етил</span> (листно). 
            </p>
        </div>
        <div class="pest-image-container " >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/weeds/Setaria_sp.jpg" 
                    data-title="Кощрява ">
                        <img src="../../../../../assets/weeds/Setaria_sp_thumb.jpg" 
                        alt="Setaria sp." title="Кощрява"/>
                        <span class="title_thumb">Кощрява</span>
                    </a>
                </li>
                <li>
                    <a data-lightbox="image" href="../../../../../assets/weeds/Amaranthus_retroflexus_bgiu.jpg" 
                    data-title="Щир">
                        <img src="../../../../../assets/weeds/Amaranthus_retroflexus_bgiu_thumb.jpg" 
                        alt="Amaranthus sp." title="Щир"/>
                        <span class="title_thumb">Щир</span>
                    </a>
                </li>
                <li>
                    <a data-lightbox="image" href="../../../../../assets/weeds/Convolvulus_arvensis.jpg" 
                    data-title="Повитица">
                        <img src="../../../../../assets/weeds/Convolvulus_arvensis_thumb.jpg" 
                        alt="Convolvulus arvensis" title="Повитица"/>
                        <span class="title_thumb">Повитица</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Плевели -->

        
    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span>
                        <span>By Jerzy Opioła - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=60378215</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span>
                        <span>By James Lindsey at Ecology of Commanster, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=3561704</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span>
                        <span>By James Lindsey at Ecology of Commanster, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=7205639</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span>
                        <span>http://agronomija.rs/2013/malinin-prstenar-agrilus-aurichalceus/</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span>
                        <span>By ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=16371728</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span>
                        <span>By Rasbak - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=998959</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span>
                        <span>By No machine-readable author provided. Bogdan assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=204430</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
