<mat-dialog-content>
    <h3>{{data.test}}</h3>






    <div class="table-threshold text-center">
        <table class="piv_table" style="width:100%" border="1">
            <thead>
                <tr>
                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                    <th>
                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr_name_pest">
                    <td colspan="3" class="tr_latin">ХЕСЕНСКА МУХА 
                        <span class="latin_name">Mayetiola destructor</span>
                    </td>
                </tr>
                <tr>
                    <td>поникване - братене</td>
                    <td>възрастни</td>
                    <td>3 бр./кв.м</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <table class="piv_table" style="width:100%" border="1">
            <thead>
                <tr>
                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                    <th>
                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr_name_pest">
                    <td colspan="3" class="tr_latin">ЖИТНА ТРЕВНА МУХА 
                        <span class="latin_name">Opomyza florum</span>
                    </td>
                </tr>
                <tr>
                    <td>поникване - братене</td>
                    <td>възрастни</td>
                    <td>3 бр./кв.м</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <table class="piv_table" style="width:100%" border="1">
            <thead>
                <tr>
                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                    <th>
                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr_name_pest">
                    <td colspan="3" class="tr_latin">ШВЕДСКИ МУХИ 
                        <span class="latin_name">Oscinella spp.</span>
                    </td>
                </tr>
                <tr>
                    <td>поникване - братене</td>
                    <td rowspan="3">възрастни</td>
                    <td>3 бр./кв.м</td>
                </tr>
                <tr>
                    <td >вретенене</td>
                    <td>6 бр./кв.м</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <table class="piv_table" style="width:100%" border="1">
            <thead>
                <tr>
                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                    <th>
                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr_name_pest">
                    <td colspan="3" class="tr_latin">ЧЕРНА ПШЕНИЧЕНА МУХА 
                        <span class="latin_name">Phorbia fumigata</span>
                    </td>
                </tr>
                <tr>
                    <td>поникване - братене</td>
                    <td>възрастни</td>
                    <td>3 бр./кв.м</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <table class="piv_table" style="width:100%" border="1">
            <thead>
                <tr>
                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                    <th>
                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr_name_pest">
                    <td colspan="3" class="tr_latin">ЖИТНА СТЪБЛЕНА МУХА <span class="latin_name">Chlorops pumilionis</span></td>
                </tr>
                <tr>
                    <td>братене</td>
                    <td rowspan="3">възрастни</td>
                    <td>3 бр./кв.м</td>
                </tr>
                <tr>
                    <td >изкласяване </td>
                    <td>6 бр./кв.м</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <table class="piv_table" style="width:100%" border="1">
            <thead>
                <tr>
                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                    <th>
                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr_name_pest">
                    <td colspan="3" class="tr_latin">ЖИТНИ МУХИ <span class="latin_name">всички видове</span></td>
                </tr>
                <tr>
                    <td>поникване - братене</td>
                    <td>възрастни</td>
                    <td>3-4 бр./кв.м</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Затвори</button>
</mat-dialog-actions>
