<mat-toolbar class="example-header">
    <button mat-mini-fab color="warn" (click)="onCloseMenu()">
        <mat-icon id="close-btn" >close</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span color="primary" class="bold">МЕНЮ</span>
</mat-toolbar>
<mat-nav-list>
    <a mat-button (click)="rotate()">SHOW</a>
    <nav>
        <ul class="nav-list"
            
        >
            <li *ngFor="let page of pages; let i = index"
                (@rotatedState.done)="animationDone($event, i)"
                [@rotatedState]='state'
            >
                <div class="proba" >
                    <a *ngIf="page.subPage !== null" mat-button 
                        
                        (click)="rotate(i)"   
                    >
                    <!-- <a mat-button (click)="isHide = !isHide"> -->
                        <i *ngIf="page.subPage !== null && (fillerShow === null || fillerShow !== page.id)" class="material-icons my-mat-icon">add_box</i>
                        <i *ngIf="page.subPage !== null && fillerShow === page.id" class="material-icons my-mat-icon">indeterminate_check_box</i>
                        {{ page.name | uppercase}}
                    </a>
                    <a *ngIf="page.subPage === null" (click)="showFiller(i)" mat-button>
                        {{ page.name | uppercase}}
                    </a>
                </div>
                <ul *ngIf="page.subPage !== null && fillerShow === page.id" class="nav-dropdown">
                    <li *ngFor="let psp of page.subPage">
                        <a mat-button  routerLink=".">{{psp.subName | uppercase}}</a>
                    </li>
                </ul>
                
            </li>
        </ul>
    </nav>
</mat-nav-list>

<!-- (click)="showFiller(i)" -->
<!-- (click)="rotate(i)" -->
<!-- (@rotatedState.done)="animationDone($event)" -->
<!-- [@menuState]="isHide ? 'show' : 'hide'" -->


