<section>
    <div class="container">
        <div class="row-header">
            <h1>АКАРИЦИДИ</h1>
        </div>
        <div class="example-container mat-elevation-z8">
            <div class="example-loading-shade"
                *ngIf="isLoadingResults || isRateLimitReached">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                    Моля, презаредете страницата отново!
                </div>
            </div>
    
            <div class="example-header">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Филтър">
                </mat-form-field>
                <!-- <span class="example-spacer"></span>
                <mat-paginator #paginator
                            [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 20]">
                </mat-paginator> -->
            </div>
            
            <mat-table #table [dataSource]="dataSource" class="example-table"
                        matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
    
                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
    
                <!-- NAME Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell    *matHeaderCellDef
                                        mat-sort-header
                                        disableClear="true">
                        <i class="material-icons">&#xE053;</i>&nbsp; Продукт
                        <!-- <i class="material-icons">&#xE164;</i>&nbsp; Продукт,<br/>Производител -->
                        <!-- <i class="material-icons">&#xE164;</i>&nbsp; Продукт -->
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                            <a matLine [routerLink]="[row.id]"><p class="cell_in">{{ row.name }}</p></a>
                    </mat-cell>
                </ng-container>
    
                <!-- SUBSTANCE Column -->
                <ng-container matColumnDef="substance">
                    <mat-header-cell *matHeaderCellDef>Активно<br/>вещество</mat-header-cell>
                    <mat-cell *matCellDef="let row"><p class="cell_in">{{ row.substance }}</p></mat-cell>
                    <!-- <mat-cell *matCellDef="let row"><span class="dose_span">{{ row.substance }}</span></mat-cell> -->
                </ng-container>
    
                <!-- DOSE Column -->
                <ng-container matColumnDef="dose">
                    <mat-header-cell *matHeaderCellDef><p class="header_dose">УПОТРЕБА</p></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>култура</th>
                                    <th>вредител</th>
                                    <th>доза</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dose of row.doses; let isOdd=odd; let isEven=even"
                                    [class.odd]="isOdd" 
                                    [class.even]="isEven" 
                                > 
                                    <td class="crops">{{dose.crop}}</td>
                                    <td class="disease">
                                        <span class="note" *ngIf="dose.note != null">{{dose.note}}<br/></span>
                                        <span class="td_span" [innerHTML]="dose.disease | safeHtml"></span>
                                        <span class="afterNote" *ngIf="dose.afterNote != null"><br/>{{dose.afterNote}}</span>
                                    </td>
                                    <td class="dose">
                                        {{dose.dose}} {{dose.measure}}
                                        <span class="afterNote" *ngIf="dose.doseNote != null"><br/>{{dose.doseNote}}</span>
                                    </td>
                                    <td class="more_info">
                                        <a mat-button (click)="openDialog(row, dose)">още...</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-cell>
                </ng-container>
    
                <!-- Number Column -->
                <ng-container matColumnDef="category" class="dispaly_category">
                    <mat-header-cell *matHeaderCellDef 
                                    mat-sort-header 
                                    disableClear="true">
                        <i class="material-icons">&#xE164;</i>&nbsp;Кат. на <br/>употреба
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.category }}
                    </mat-cell>
                </ng-container>
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
    
            <!-- <mat-paginator [length]="resultsLength" [pageSize]="[5, 10, 25, 100]"> -->
            <mat-paginator #paginator
                            [pageSize]="5"
                            [pageSizeOptions]="[5, 10, 20]"
                            [showFirstLastButtons]="true">
            </mat-paginator>
        </div>
    </div>
</section>

