.container {
    width: 95%;
    margin: 0 auto;
    .row-header{
        // margin-bottom: 40px;
        h1 {
            font-size: 2em;
            color: #008000;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
// .example-spacer {
//     flex: 1 1 auto;
// }
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    // max-height: 600px;
    min-width: 300px;
    position: relative;
    margin-bottom: 20px;
}
  
.example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
  
.example-table {
    overflow: auto;
    min-height: 300px;
}
  
.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}

/* Column Widths */
.mat-row {
    padding: 0;
}

.mat-header-cell{
    text-transform: initial !important;
    text-align: center;
    border: none !important;
    background: rgb(110, 0, 35);
    // color: rgba(0, 0, 0, 0.54)  !important;
    color: rgb(255, 255, 255) !important;
    align-self: stretch;
    padding-top: 10px;
    // padding: 10px 5px;
}
.mat-header-row {
    // padding-top: 10px;
    padding: 0;
}
.mat-column-name {
    
    max-width: 12%;
    // border-right: 1px solid #FF9800;
    border-right: 1px solid rgb(255, 255, 255);
    align-self: stretch;
    padding-top: 10px;
 //    text-align: center;
    // padding: 10px 5px;
 //    color: #980000;
    a {
        text-decoration: none;
        font-weight: bolder;
        // color: #3E2723;
        color: rgb(110, 0, 35);
    }
    .firm-name {
        font-size: 0.9em;
        // margin-left: 5px;
        // margin-right: 5px;
        padding: 0 5px;
        margin: 0;
    }
}
.mat-column-substance {
    max-width: 9%;
    // text-transform: lowercase;
    align-self: stretch;
    padding-top: 10px;
    // padding: 10px 5px;
    // color: #3E2723;
    border-right: 1px solid rgb(255, 255, 255);
}
// .mat-cell {
//     border: 1px solid rgba(0, 0, 0, 0.321);
// }
  
// .mat-column-dose {
//     // padding-top: 15px;
//     // min-width: 70%;
// }

.mat-column-category {
    max-width: 7%;
    text-align: center;
    // color: #3E2723;
    // align-self: stretch;
}

.mat-row:nth-child(2n+1){
    // background: rgba(216, 216, 217, 0.478);
    // background: #DCEDC8;
    background: #A5D6A7;
}
.mat-row:nth-child(2n){
    // background-color: rgb(200, 200, 200);
    // background-color: #C5E1A5;
    background-color: #81C784;
}

.header_dose {
    margin-top: 5px;
}
.cell_in {
    margin-left: 5px;
    margin-right: 5px;
}
.material-icons {
    font-size: 20px;
    margin-left: 5px
}

table {
    width: 100%;
    min-height: 64px;
    border-right: 1px solid rgb(255, 255, 255);
    thead {
        // background-color: rgb(190, 190, 190);
        background-color: #AED581;
        font-size: 0.9em;
        color: rgb(255, 255, 255);
    }
    .odd {
        // background-color:rgb(240, 240, 240);
        background-color:#F1F8E9;
    }
    .even {
        // background-color:rgb(224, 224, 224);
        background-color:#DCEDC8;
    }
    tr {
        .dose {
            width: 12%;
        }
        .crops {
            width: 20%;
        }
        // .disease {
        //     // width: 60%;
        // }
        .more_info {
            width: 3%;
            font-size: 0.8em;
            padding: 0;
            .mat-button {
                // min-width: 0;
                line-height: 30px;
                padding: 0;
                margin: 0;
                width: 100%;
                color: rgb(110, 0, 35);
            }
        }
        td {
            border: 1px solid hsla(0, 0%, 0%, 0.2);
            padding: 3px 5px 3px 5px;
            padding: 5px;
            span {
                margin-top: 7px;
                margin-bottom: 7px;
            }
            .note {
                font-weight: bold;
                text-decoration: underline;
            }
            .afterNote {
                font-weight: bold;
                font-size: 0.9em;
                margin: 0;
            }
        }
    }
}


/* ##Device = Desktops ##Screen = 1281px to higher resolution desktops */
@media (min-width: 1201px) {}

/* ##Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1200px) {
    .my-material-icons {
        display: none;
    }
    .category-span {
        margin-left: 5px;
    }
}

/* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
    .my-material-icons {
        display: none;
    }
    .mat-column-substance {
        display: none;
    }
    .mat-column-category {
        max-width: 9%;
        text-align: center;
    }
}

/* ##Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .my-material-icons {
        display: none;
    }
    .mat-column-substance {
        display: none;
    }
    .mat-column-category {
        max-width: 9%;
        text-align: center;
    }
}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px*/
@media (min-width: 501px) and (max-width: 767px) {
    .my-material-icons {
        display: none;
    }
    .mat-column-substance {
        display: none;
    }
    .mat-column-category {
        display: none;
    }
    .mat-column-name {
        min-width: 20%;
    }
    table {
        tr {
            .dose {
                display: none;
            }
            .crops {
                width: 30%;
            }
            .more_info {
                width: initial;
            }
        }
    }
}
/* ##Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px*/
@media  (min-width: 325px) and (max-width: 500px) {
    .mat-button {
        min-width: 50px;
    }
    .my-material-icons {
        display: none;
    }
    .mat-column-substance {
        display: none;
    }
    .mat-column-category {
        display: none;
    }
    .mat-column-name {
        min-width: 30%;
    }
    table {
        tr {
            .dose {
                display: none;
            }
            .crops {
                width: 70%;
            }
            .disease {
                display: none;
            }
            .more_info {
                width: initial;
            }
        }
    }
}

@media (min-width: 317px) and  (max-width: 324px){
    .mat-row {
        width: 99%;
    }
    .mat-button {
        min-width: 30px;
    }
    .my-material-icons {
        display: none;
    }
    .mat-column-substance {
        display: none;
    }
    .mat-column-category {
        display: none;
    }
    .mat-column-name {
        min-width: 35%;
    }
    // .mat-column-dose {
    //     max-width: 67%;
    // }
    .firm-name {
        display: none;
    }
    table {
        // width: 98%;
        tr {
            .dose {
                display: none;
            }
            .crops {
                width: 60%;
            }
            .disease {
                display: none;
            }
            .more_info {
                width: initial;
            }
        }
    }
} 

@media (max-width: 316px){
    .mat-row {
        width: 94%;
    }
    .mat-button {
        min-width: 30px;
    }
    .my-material-icons {
        display: none;
    }
    .mat-column-substance {
        display: none;
    }
    .mat-column-category {
        display: none;
    }
    .mat-column-name {
        min-width: 35%;
    }
    .firm-name {
        display: none;
    }
    table {
        // width: 80%;
        tr {
            .dose {
                display: none;
            }
            .crops {
                width: 60%;
            }
            .disease {
                display: none;
            }
            .more_info {
                width: initial;
            }
        }
    }
}
