.container {
    width: 95%;
    margin: 0 auto;
    .row-header{
        // margin-bottom: 40px;
        h1 {
            font-size: 2em;
            color: #008000;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
// .example-spacer {
//     flex: 1 1 auto;
// }


/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    // max-height: 600px;
    min-width: 300px;
    position: relative;
    margin-bottom: 20px;
}
  
.example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
  
.example-table {
    overflow: auto;
    min-height: 300px;
}
  
.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}

/* Column Widths */
.mat-row {
    padding: 0;
}

.mat-header-cell{
    text-transform: initial !important;
    text-align: center;
    border: none !important;
    background: rgb(110, 0, 35);
    // color: rgba(0, 0, 0, 0.54)  !important;
    color: rgb(255, 255, 255) !important;
    align-self: stretch;
    padding-top: 10px;
    // padding: 10px 5px;
}
.mat-header-row {
    // padding-top: 10px;
    padding: 0;
}
.mat-column-name {
    
    max-width: 12%;
    // border-right: 1px solid #FF9800;
    border-right: 1px solid rgb(255, 255, 255);
    align-self: stretch;
    padding-top: 10px;
 //    text-align: center;
    // padding: 10px 5px;
 //    color: #980000;
    a {
        text-decoration: none;
        font-weight: bolder;
        // color: #3E2723;
        color: rgb(110, 0, 35);
    }
    .firm-name {
        font-size: 0.9em;
        // margin-left: 5px;
        // margin-right: 5px;
        padding: 0 5px;
    }
 }
.mat-column-substance {
    max-width: 10%;
    text-transform: lowercase;
    align-self: stretch;
    padding-top: 10px;
    // padding: 10px 5px;
    // color: #3E2723;
    border-right: 1px solid rgb(255, 255, 255);
}
  
// .mat-column-dose {
//     // padding-top: 15px;
//     // min-width: 70%;
// }

.mat-column-category {
    max-width: 7%;
    text-align: center;
    // color: #3E2723;
    // align-self: stretch;
}

.mat-row:nth-child(2n+1){
    // background-color:#FFE0B2;
    // background-color: #00897B;
    // background: #EF5350;
    // background: rgb(215, 215, 216);
    background: hsla(240, 1%, 85%, 0.478);
}
.mat-row:nth-child(2n){
    // background-color:#FFCC80;
    // background-color: #00796B;
    background-color: rgb(200, 200, 200);
}

.header_dose {
    margin-top: 5px;
}
.cell_in {
    margin-left: 5px;
    margin-right: 5px;
}
.material-icons {
    font-size: 20px;
    margin-left: 5px
}

table {
    min-height: 64px;
    // color: #BF360C;
    // color: #3E2723;
    border-right: 1px solid rgb(255, 255, 255);
    thead {
        background-color: rgb(190, 190, 190);
        font-size: 0.9em;
        color: rgb(255, 255, 255);
    }
    .odd {
        // background-color: #FFB74D;
        // background-color:#26A69A;
        // background-color:rgb(253, 153, 163);
        background-color:rgb(240, 240, 240);
    }
    .even {
        // background-color: #FFA726;
        // background-color:#009688;
        background-color:rgb(224, 224, 224);
    }
    tr {
        .dose {
            width: 12%;
        }
        .crops {
            width: 20%;
        }
        // .disease {
        //     // width: 60%;
        // }
        .more_info {
            width: 7%;
            font-size: 0.8em;
            padding: 0;
            .mat-button {
                // min-width: 0;
                line-height: 30px;
                padding: 0;
                margin: 0;
                width: 100%;
                color: rgb(110, 0, 35);
            }
        }
        td {
            padding: 3px 5px 3px 5px;
            padding: 5px;
            span {
                margin-top: 7px;
                margin-bottom: 7px;
            }
            .note {
                font-weight: bold;
                text-decoration: underline;
            }
            .afterNote {
                font-weight: bold;
                font-size: 0.9em;
                margin: 0;
            }
        }
    }
}

