.container {
    width: 95%;
    margin: 0 auto;

    .row-header{
        // margin-bottom: 40px;
        h1 {
            font-size: 2em;
            color: #008000;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
// .example-spacer {
//     flex: 1 1 auto;
// }


/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 600px;
    min-width: 300px;
    position: relative;
    margin-bottom: 20px;
}
  
.example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
  
.example-table {
    overflow: auto;
    min-height: 300px;
}
  
.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}


  
/* Column Widths */
.mat-row {
    padding: 0 10px;
}

.mat-header-cell{
    text-transform: initial !important;
    text-align: center;
    border: none !important;
    color: rgba(0, 0, 0, 0.54)  !important;
}
.mat-header-row {
    padding: 0 10px;
}
.mat-column-name {
    max-width: 12%;
    border-right: 1px solid #FF9800;
    align-self: stretch;
 //    text-align: center;
     padding: 10px 5px;
 //    color: #980000;
    a {
        text-decoration: none;
        font-weight: bolder;
        color: #3E2723;
    }
 }
.mat-column-substance {
    max-width: 10%;
    text-transform: lowercase;
    align-self: stretch;
    padding: 10px 5px;
    color: #3E2723;
}
  
.mat-column-dose {
    min-width: 70%;
}
.mat-column-category {
    max-width: 7%;
    text-align: center;
    color: #3E2723;
}

.mat-row:nth-child(2n+1){
    // background-color:#FFE0B2;
    background-color: #FFB74D;
}
.mat-row:nth-child(2n){
    // background-color:#FFCC80;
    background-color: #FFA726;
}

table {
    // color: #BF360C;
    color: #3E2723;
    thead {
        background-color: #FFCC80;
        font-size: 0.9em;
        color: #EF6C00;
    }
    min-height: 46px;
    .odd {
        // background-color: #FFB74D;
        background-color:#FFE0B2;
    }
    .even {
        // background-color: #FFA726;
        background-color:#FFCC80;
    }
    tr {
        .dose {
            width: 15%;
        }
        .crops {
            width: 20%;
        }
        .disease {
            width: 65%;
        }
        td {
            padding: 3px 5px 3px 5px;
            padding: 5px;
            span {
                margin-top: 7px;
                margin-bottom: 7px;
            }
            // .latin_name {
            //     font-style: italic !important;
            // }
            .note {
                font-weight: bold;
                text-decoration: underline;
            }
            .afterNote {
                font-weight: bold;
                font-size: 0.9em;
                margin: 0;
            }
        }
    }
}

