<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ЛУКОВИ КУЛТУРИ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
          <p>Feller et al., 1995 a</p>
          <p>
              Фенологични  фази на растеж и ВВСН-ключове за тяхната идентификация при културите: 
              лук (<span class="italic">Allium cepa</span> L.); 
              праз (<span class="italic">Allium porrum</span> L.); 
              чесън (<span class="italic">Allium sativum</span> L.); 
              лук-шалот (<span class="italic">Allium ascalonicum</span> auct. kon. L.)
          </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="bold line-bottom" colspan="2">Главна фаза на растеж О: Покълнване</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Тук няма Снимки -->
  
</div>


<!-- class="line-up-bold" colspan="2" -->
<!-- class="bold line-bold" colspan="2" -->
<!-- class="bold line-bottom" colspan="2" -->
<!-- 
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
 -->




