<div class="row text-center" id="prz-loader" *ngIf="!isLoaded">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="isLoaded" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЕДНОГОДИШНИ И МНОГОГОДИШНИ БОБОВИ КУЛТУРИ</h2>
    </div>
    <div class="row logo-top">
        <div class="text-center " id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ НАХУТ</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/025(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.I ст. д.с.н Невена Богоцевска<br/>
                ст.н.с.II ст. д-р Димитринка Христова<br/>
                ст.н.с.II ст. д-р Иван Киряков<br/>
                ст.н.с.II ст. д-р Евдокия Станева<br/>
                ст.н.с.II ст. д-р Спаска Симова<br/>
                ст.н.с.II ст. д-р Ралица Накова<br/>
                д-р Петър Николов – НСРЗ<br/>
                Екатерина Томева - НСРЗ<br/>
                Антон Величков – НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ НАХУТ*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3>Специфична сфера на действие</h3>
            <p >Този стандарт очертава принципите на Добрата растителнозащитна практика при нахут.</p>
            <h3>Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p >
                Нахутът е старо културно растение. Отглежда се заради семената, които имат голямо съдържание на белтъчни
                вещества, въглехидрати и известно количество мазнини, които го правят богата храна за човека и домашните
                животни. По съдържание на белтъчини и въглехидрати той не отстъпва на фасула, лещата и граха, а по съдържание
                на мазнини далеч ги надминава. Стъблата и листата също така съдържат доста големи количества белтъчни вещества,
                но като зелена храна за добитъка те не се употребяват, тъй като съдържат много ябълчена, лимонена и оксалова
                киселина. Сламата има приблизително същите хранителни стойности, както тази на соята.
            </p>
            <p >
                Семената на нахута покълват при 2°С, но за редовното им покълнване температурата на почвата трябва да е
                минимум 4°С. Както и другите бобови култури, в периода на поникването растенията се нуждаят от много топлина
                и влага. Нахутът е силно сухоустойчиво растение, издържа на ниски (до -22°С при снежна покривка) и високи
                температури. Към почвата не е особено взискателен, развива се добре и на по-леки почви. Времето на засяване
                е от решаващо значение за получаване на високи добиви. Семената поникват нормално при сравнително ниска
                температура в почвата, така че може да се засяват рано напролет (при възможност още през февруари).
            </p>
            <p>
                ДРЗП, изисква отглеждане на нахута при висок агрофон, включването му в сеитбообръщения, използване на здрави
                семена за посев, устойчиви и толерантни сортове, предпосевно третиране на семената с фунгицидни средства,
                инсектицидни третирания срещу неприятелите при достигане на икономическите прагове на вредност, хербицидни третирания.
            </p>
            <p>
                В ДРЗП, трябва да се използва подходяща техника, като се намали изтичането на продукти за растителна защита
                и нежелателното им разсейване. За предотвратяване появата на резистентност да се избягва повторна употреба
                на продукти за растителна защита с еднакъв механизъм на действие.
            </p>
            <p >
                ДРЗП, препоръчвана от ЕРРО, изисква използването само на активни вещества, регистрирани в съответната
                страна за даден вредител.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum" 
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/3-bobovi-prilojenie.pdf"
                >
                    * Виж приложение 2
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3>Основни вредители по нахута са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#ascochyta-rabiei" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Чернилка - <span class="latin_name">Ascochyta rabiei</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium-oxysporum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фузарийно увяхване - <span class="latin_name">Fusarium oxysporum f.sp. Ciceri</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sclerotinia-sclerotiorum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Склеротийно гниене - <span class="latin_name">Sclerotinia sclerotiorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#mosaic-potyvirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Жълта фасулева мозайка - <span class="latin_name">Bean yellow mosaic potyvirus</span> - (BYMV)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#mosaic-potyvirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Краставична мозайка - <span class="latin_name">Cucumber mosaic cucumovirus</span> - (CMV)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#mosaic-potyvirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Люцернова мозайка - <span class="latin_name">Alfalfa mosaic alfamovirus</span> - (AlMV)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#acanthoscelides-obtectus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фасулев зърнояд - <span class="latin_name">Acanthoscelides obtectus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#helicoverpa-armigera" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Памукова нощенка - <span class="latin_name">Helicoverpa armigera</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon> 
                        Плевели
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices">
        <div class="aa-title" id="{{practice.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}" 
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" lazy-load="{{image.thumbPath}}" 
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice.tablePiv !== null">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span>
                        <span>By Jymm - Own work, Public Domain, https://commons.wikimedia.org/w/index.php?curid=7999438</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span>
                        <span>By Udo Schmidt - Flickr: Acanthoscelides obtectus (Say, 1831), CC BY-SA 2.0, https://commons.wikimedia.org/w/index.php?curid=19970866</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span>
                        <span>By Amy Carmichael, Queensland University of Technology - This image is found here at PaDIL, a source of images designed for Biosecurity and Biodiversity.This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information.PaDIL, CC BY 3.0 au, https://commons.wikimedia.org/w/index.php?curid=15352877</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span>
                        <span>By Gyorgy Csoka, Hungary Forest Research Institute, Bugwood.org - This image is Image Number 5371126 at Insect Images, a source for entomological images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service., CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=6615449</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=15884293</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span>
                        <span>Di Hugo.arg - Opera propria, GFDL, https://commons.wikimedia.org/w/index.php?curid=3135124</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span>
                        <span>By No machine-readable author provided. Bogdan assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=204430</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>


    <!-- Чернилка -->
    <!-- <div class="aa-title" id="ascochyta-rabiei">
        <span></span>
    </div>
    <div class="row" >
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3>Чернилка – <span class="latin_name">Ascochyta rabiei</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                По листата петната са кръгли тъмнокафяви до черни с по-тъмна периферия; по стъблата и разклоненията те са
                тъмнокафяви до черни, продълговати, с пръстеновидна некроза, връхната част увяхва; по бобовете петната са
                кръгли, кафяви с по-тъмна периферия; по семена петната са кафяви до кафяво-черни. Повредените тъкани пожълтяват,
                листата окапват, бобовете се деформират, а семената губят кълняемостта си.
            </p>
            <p>
                В петната се образуват плодни тела на гъбата (пикнидий). Патогенът се съхранява в семената. Съвършената
                форма на гъбата <strong class="latin_name">Micosphaerella rabiei</strong> формира плодни тела (перитеции)
                в болните растителни остатъци.
            </p>
            <p>
                Източник на инфекция са болните семена и растителните остатъци. Разпространението на патогена през вегетацията
                се осъществява със спори посредством дъждовните води.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Използването на здрави семена, дълбокото заораване на растителните остатъци и правилното сеитбообращение
                с пространствена изолация от миналогодишните ниви, устойчиви сортове (сорт Балкан) са мероприятията, включени
                в Добрата растителнозащитна практика. Обеззаразяването на семената и третирането на посевите с фунгициди
                ограничава развитието на болестта през вегетацията.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма регистрирани продукти за растителна защита.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Чернилка -->

    <!-- Фузарийно увяхване -->
    <!-- <div class="aa-title" id="fusarium-oxysporum">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3>Фузарийно увяхване -<span class="latin_name">Fusarium oxysporum f.sp. Ciceri</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Във фенофаза формиране на бобове растенията пожълтяват, увяхват и загиват. Гъбата се съхранява в нападнатите
                растителни остатъци и почвата под формата на хламидоспори. През вегетацията се разпространява чрез микро- и
                макроконидии посредством дъждовете.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Основните мероприятия, включени в Добрата растителнозащитна практика, са: спазване на сеитбообращение;
                унищожаване на растителните остатъци; оптимална за условията на региона сеитба; устойчиви сортове.
            </p>

            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма регистрирани продукти за растителна защита.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!--КРАЙ Фузарийно увяхване -->

    <!-- Склеротийно гниене -->
    <!-- <div class="aa-title" id="sclerotinia-sclerotiorum">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent" >
            <h3>Склеротийно гниене – <span class="latin_name">Sclerotinia sclerotiorum</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Ранната проява на болестта е свързана със загиване на кълновете и пониците. Нападнатите органи (стъбла,
                разклонения, листа и бобове) загниват, отначало тъканите са воднистозелени, постепенно придобиват охрен
                цвят, при влажно време се покриват с бял памуковиден мицел, който образува черни, полусферични грапави
                склероции. Загнилите листа стават кафяви.
            </p>
            <p>
                Стопанското значение на склеротийното гниене по нахут в България се определя не само от преките щети, които
                болестта нанася, но и от включването на тази култура в сеитбообращенията. Гъбата има голям брой
                гостоприемници - фасул, грах, леща, бакла, слънчоглед, домати, пипер, моркови и др.
            </p>
            <p>
                <span class="latin_name bold">S. sclerotiorum</span> няма конидийна форма. Склероциите варират по големина
                и съхраняват гъбата в болните, растителни остатъци и почвата. Заразяването и развитието на болестта се
                благоприятства от влажни и хладни (20-25°С) условия по време на цъфтеж. Разпространението на гъбата през
                вегетацията се осъществява чрез дъждовните и поливни води и при допир на здрави до заразени тъкани.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Спазването на 3- до 4-годишен сеитбооборот с житни и други ненападащи се от гъбата култури е основното средство
                за борба със склеротийното увяхване.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма регистрирани продукти за растителна защита.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/diseases/Sclerotinia_sclerotiorum.jpg" 
                    data-title="Склеротийно гниене">
                        <img src="../../../../../assets/diseases/Sclerotinia_sclerotiorum_thumb.jpg" 
                        alt="Sclerotinia-sclerotiorum" title="Sclerotinia sclerotiorum"/>
                        <span class="title_thumb">Склеротийно гниене</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Склеротийно гниене -->

    <!-- ВИРУСНИ БОЛЕСТИ -->
    <!-- <div class="aa-title" id="mosaic-potyvirus">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Жълта фасулева мозайка – <span class="latin_name">Bean yellow mosaic potyvirus</span> (BYMV)</h3>
            <h3 >Краставична мозайка – <span class="latin_name">Cucumber mosaic cucumovirus</span> (CMV)</h3>
            <h3 >Люцернова мозайка – <span class="latin_name">Alfalfa mosaic alfamovirus</span> (AlMV)</h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                <strong class="latin_name">Жълтата фасулева мозайка</strong> образува хлоротични, дори жълти листа, понякога
                с некроза по нерватурата, водеща до окапването им. По-рядко се наблюдава потъмняване на кората на клонките.
                При <strong class="latin_name">краставичномозаичната вироза</strong> - наблюдава се силно изоставане болните
                растения и постепенното им изсъхване. По долната част на растенията се развива некроза, която преминава
                нагоре по стъблото и листата, които пожълтяват и окапват. <strong class="latin_name">Люцернова мозайка</strong>
                - хлороза или пожълтяване на листата, понякога с некроза по жилките и окапване. Рядко се наблюдава потъмняване
                на кората на стъблото и клонките подобно на това при вируса на жълтата фасулева мозайка.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Борбата с вирусните болести се извежда трудно, поради което загубите от тях са значителни. Тъй като няма
                средства за лечение на вирусно болните растения, мерките за борба трябва да бъдат насочени към предпазване
                от инфекция. Превантивните мерки за ефикасен контрол, които са в основата на Добрата растителнозащитна
                практика, включват: използване на здрав посевен материал; унищожаване на източниците на инфекция
                (болни растения и плевели), ограничаване разпространяването на вируса от векторите (листни въшки) чрез
                третиране с инсектициди и минерални масла, както и избор на устойчиви и толерантни сортове.
            </p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/viruses/Bean_yellow.jpg"
                    data-title="Жълта фасулева мозайка">
                        <img src="../../../../../assets/viruses/Bean_yellow_thumb.jpg"
                                alt="Bean-yellow-mosaic-potyvirus" title="Bean yellow mosaic potyvirus"/>
                        <span class="title_thumb">Жълта фасулева мозайка</span>
                    </a>
                </li>
                <li>
                    <a data-lightbox="image" href="../../../../../assets/viruses/Cucumber_mosaic.jpg"
                    data-title="Краставична мозайка">
                        <img src="../../../../../assets/viruses/Cucumber_mosaic_thumb.jpg"
                                alt="Cucumber-mosaic-cucumovirus" title="Cucumber mosaic cucumovirus"/>
                        <span class="title_thumb">Краставична мозайка</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ ВИРУСНИ БОЛЕСТИ -->


    <!-- НЕПРИЯТЕЛИ -->
    <!-- Фасулев зърнояд   -->
    <!-- <div class="aa-title" id="acanthoscelides-obtectus">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent" >
            <h3>Фасулев зърнояд – <span class="latin_name">Acanthoscelides obtectus</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Възрастното насекомо е бръмбар с продълговато-овално тяло, покрито със светложълтеникави до тъмнокафяви космици.
                Покривните крила са правоъгълни, със заоблени върхове и не покриват пигидиума. Дължината на тялото е от 2
                до 4,2 mm. Яйцето е млечнобяло, прозрачно, удължено. Ларвата е дъговидно извита, белезникава, младата е с
                крака, а възрастната - без крака, дължина от 2,8 до 3,8 mm. При наши условия неприятелят не зимува на открито.
            </p>
            <p>
                Фасулевият зърнояд напада семената както на полето, така и в складовете. Главна повреда причинява на семената
                в складовете и домакинствата.
            </p>
            <p>
                Възрастните женски снасят яйца само по зрелите семена в бобовете, като прогризват отвори по дължината на
                шевовете им, в които снасят яйцата си, или през пукнатини, ако намерят такива. В складовете и домакинствата
                те снасят яйца върху семената или между тях. Младите ларви се вгризват най-често в мястото, където се допират
                две зърна или зърното опира до стената на боба. Входните отвори са малки, кръгли и при сортове с необагрена
                семенна обвивка са трудно забележими с невъоръжено око, а при сортове с обагрена обвивка те се забелязват
                като малки бели точици. След навлизане в семената ларвите се хранят с вътрешността им, като издълбават
                тесни ходове, които впоследствие разширяват и удълбочават. Семената се изпълват с ларвни кожици и екскременти,
                което ги прави негодни за консумация и фураж. В едно зърно се развиват до 20 и повече ларви. При силно
                нападение остава само семенната обвивка. Напълно развитите бръмбари прогризват кръгли отвори на семенната
                обвивка, през които излизат. Неприятелят се внася в складовете със семената, където се размножава целогодишно
                и развива 3-4 поколения, които се застъпват.
            </p>
            <p>
                Заразяването на полето става предимно от излетели от складовете и домакинствата бръмбари или от късно засети
                със заразени семена посеви.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Прилагане на система от мероприятия, осигуряваща унищожаване на всички източници на зараза. Навременна сеитба
                със здрави семена. Осигуряване на 4-5 km пространствена изолация на посевите от складовете и населените
                места. Своевременно прибиране и овършаване на нахута, като семената се съхраняват в предварително добре
                дезинфекцирани складове.
            </p>
            <p>
                На полето борбата е насочена срещу възрастните бръмбари. Преди появата на първите зрели бобове се прави
                отчитане за установяване плътността на неприятеля. Преглеждат се също и узрели бобове, като се търсят
                повреди по семената. При наличие на бръмбари и нападнати семена се провежда инсектицидно третиране на посевите.
            </p>
            <p>
                За унищожаване на скритата зараза в семената успешно може да се прилага термотерапията, т.е. използването
                на ниски и високи температури. През зимните месеци семената да се съхраняват в проветриви складове или да
                се оставят на тераси и под навеси, като се излагат на действието на ниски температури. В домакинствата
                семената да се съхраняват в най-хладните помещения или на терасите, но изолирани от влага. Всички стадии
                на неприятеля загиват при сума на ниските температури минус 110°С. При възможност семената могат да се
                поставят в хладилник за пет денонощия.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма регистрирани продукти за растителна защита при нахут.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/insects/Acanthoscelides_obtectus.jpg"
                    data-title="Фасулев зърнояд">
                        <img src="../../../../../assets/insects/Acanthoscelides_obtectus_thumb.jpg" 
                        alt="Acanthoscelides-obtectus" title="Фасулев зърнояд"/>
                        <span class="title_thumb">Фасулев зърнояд</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Фасулев зърнояд -->

    <!-- Памукова нощенка -->
    <!-- <div class="aa-title" id="helicoverpa-armigera">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3>Памукова нощенка – <span class="latin_name">Helicoverpa armigera</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Повсеместно разпространен многояден неприятел. Възрастната пеперуда е със светлокафяви или зеленикаво-жълти
                до тъмнокафяви предни крила. Зимува като какавида в почвата.
            </p>
            <p>
                Видът развива три поколения годишно. Нахутът отделя секрет през целия вегетационен сезон, с който привлича
                пеперудите. Летежът на първо поколение е през май, на второ - през юни, а на трето - през септември.
                Вредят гъсениците, като се хранят с онези части на растенията, по които са снесени яйцата. Младите гъсеници
                първоначално скелетират листата, а по-късно прогризват отвори по тях. Те нападат младите връхни листа, а
                след трета възраст повреждат плодните органи, като прогризват отвори по тях и изяждат меките зърна, с
                което причиняват силно намаляване на добивите.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Добрата растителнозащитна практика налага провеждане на борба срещу гъсеници първа-трета възраст.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма регистрирани продукти за растителна защита при нахут.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/insects/Helicoverpa_armigera_dorsal.jpg"
                    data-title="Памукова нощенка">
                        <img src="../../../../../assets/insects/Helicoverpa_armigera_dorsal_thumb.jpg" 
                            alt="Helicoverpa armigera" title="Памукова нощенка"/>
                            <span class="title_thumb">Памукова нощенка</span>
                    </a>
                </li>
                <li>
                    <a data-lightbox="image" href="../../../../../assets/insects/Helicoverpa_armigera_larva.jpg"
                    data-title="Памукова нощенка - ларва">
                        <img src="../../../../../assets/insects/Helicoverpa_armigera_larva_thumb.jpg" 
                        alt="Helicoverpa-armigera-larva" title="Памукова нощенка - ларва"/>
                        <span class="title_thumb">Памукова нощенка - ларва</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Памукова нощенка -->


    <!-- ПЛЕВЕЛИ -->
    <!-- <div class="aa-title" id="weed">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3>Плевели</h3>
            <p>
                Нахутът е култура с бавен, начален растеж и силна чувствителност към плевелите. В посевите му се срещат
                предимно ранни (полски синап, фасулче) и късни пролетни плевели (бяла куча лобода, обикновен щир, сива и
                зелена кощрява, черно куче грозде), както и многогодишни видове (повитица, паламида).
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Поради ранния срок на засяване в периода от поникване до първото окопаване нахутът е слаб конкурент на
                плевелите. Това налага прилагането на система от мероприятия за борба (агротехнически и химически).
            </p>
            <p>
                Агротехнически: сеитбообращения с житни култури със слята повърхност, които потискат развитието на
                многогодишните видове (повитица, паламида) и отчасти къснопоникващите едногодишни плевели; основна обработка
                на почвата, която може да се съчетае с внасянето на подходящи почвени хербициди; редовно окопаване
                (унищожаване на едногодишните видове).
            </p>
            <p>
                Химически: чрез използване на подходящи хербициди, разрешени за употреба при нахут, въпреки че наборът
                им е ограничен.
            </p>
            <p>
                Ефектът от тях е най-висок, когато видовете, дозите, времето и начинът на приложение се съчетаят с данните
                от картирането за степента и характера на заплевеляване на определените за културата площи.
            </p>
            <p>
                За борба с едногодишните, широколистни плевели се препоръчва внасянето на почвени хербициди след сеитба
                преди поникване на нахута. При прогнозиране на смесено заплевеляване от едногодишни, житни и някои
                широколистни видове, веднага след сеитба се използват почвени хербицидни продукти за растителна защита.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                <span class="bold">Преди поникване, след сеитба: </span><br>
                - срещу едногодишни широколистни:
                <span class="active-substance">: линурон, метобромурон, имазетапир </span> (почвено);<br/>
                -	срещу едногодишни и някои видове широколистни:
                <span class="active-substance">ацетохлор, метолахлор, алахлор </span> (почвено)
            </p>
            <p class="as">
                <span  class="bold">След поникване: </span><br>
                - срещу едногодишни и многогодишни житни:
                <span class="active-substance">флуазифоп-П-бутил, пропаквизафоп, халоксифоп, сетоксидим, клетодим,
                квизалофоп-П-етил, циклоксидим, феноксапроп-П-етил</span> (вегетационно)
            </p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/weeds/Brassicaceae_-_Sinapis_arvensis_(3).jpg" 
                    data-title="Полски синап">
                        <img src="../../../../../assets/weeds/Brassicaceae_-_Sinapis_arvensis_(3)_thumb.jpg" 
                        alt="Sinapis-arvensis" title="Полски синап"/>
                        <span class="title_thumb">Полски синап</span>
                    </a>
                </li>
                <li>
                    <a data-lightbox="image" href="../../../../../assets/weeds/ChenopodiumAlbum001.jpg" 
                    data-title="Бяла куча лобода">
                        <img src="../../../../../assets/weeds/ChenopodiumAlbum001_thumb.jpg" 
                        alt="Chenopodium album" title="Бяла куча лобода"/>
                        <span class="title_thumb">Бяла куча лобода</span>
                    </a>
                </li>
                <li>
                    <a data-lightbox="image" href="../../../../../assets/weeds/Amaranthus_retroflexus_bgiu.jpg" 
                    data-title="Щир">
                        <img src="../../../../../assets/weeds/Amaranthus_retroflexus_bgiu_thumb.jpg" 
                        alt="Amaranthus sp." title="Щир"/>
                        <span class="title_thumb">Щир</span>
                    </a>
                </li>
                <li>
                    <a data-lightbox="image" href="../../../../../assets/weeds/Convolvulus_arvensis.jpg" 
                    data-title="Повитица">
                        <img src="../../../../../assets/weeds/Convolvulus_arvensis_thumb.jpg" 
                        alt="Convolvulus arvensis" title="Повитица"/>
                        <span class="title_thumb">Повитица</span>
                    </a>
                </li>
            </ul>
        </div>
    </div> -->
    <!-- КРАЙ ПЛЕВЕЛИ -->

    

