
<div id="aa-header">
    <div id="header-email" rowHeight="30px">
        <span class="email">prz@mail.bg</span>
    </div>

    <nav>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>MyMaterial</span>
                <span class="example-spacer"></span>
                <button id="navigation-button" mat-icon-button (click)="navOpen()"><mat-icon>menu</mat-icon></button>
                <mat-nav-list id="navigation-top">
                    <mat-list-item *ngFor="let page of pages" class="nav-list">
                        <a matLine href="..." class="a-top">{{ page.name | uppercase }}</a>
                        <button mat-icon-button *ngIf="page.subPage !== null">
                            <mat-icon>expand_more</mat-icon>
                        </button>
                        <div *ngIf="page.subPage !== null" class="nav-dropdown">
                            <mat-list-item class="sub-menu" *ngFor="let sp of page.subPage">
                                <a class="a-bottom" matLine href="...">{{ sp.subName | uppercase }}</a>
                            </mat-list-item>
                        </div>
                        
                    </mat-list-item>
                </mat-nav-list>
            </mat-toolbar-row>
        </mat-toolbar>
    </nav>
    
    <div class="bredacrumb">
        <p class="p-in-header p-up">ДРЗП</p><br/>
        <span class="p-in-header p-down">НАЧАЛО / Увод</span>
    </div>
</div>

