<div class="row text-center" id="prz-loader" *ngIf="!isLoaded">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>
 
<div *ngIf="isLoaded" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ТЕХНИЧЕСКИ КУЛТУРИ</h2>
    </div>
    <div class="row logo-top">
        <div class="text-center " id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ РАПИЦА</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/037(1)</p>
        <p class="number-eppo">№ на ЕРРО РР 2/8(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Валентина Енчева-Василева<br/>
                ст.н.с.II ст. д-р Пепа Шиндерова <br/>
                д-р Петър Николов – НСРЗ<br/>
                Екатерина Томева - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ РАПИЦА*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при рапица.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>

            <p >
                Културата се отглежда заради семената, богати на масла и протеини. Маслото им принадлежи към трупата
                на полуизсъхващите масла, които намират приложение в промишлеността, металургията, текстилната промишленост,
                при производство на лакове и т.н.
            </p>
            <p >
                По своите изисквания към климата зимната рапица (по-широко разпространената форма) се доближава до
                изискванията на зимните житни култури. Тя издържа на зимните студове. Взискателна е към почвената влага,
                която е решаващ фактор при поникването и през първата фаза на развитие. По-малко взискателна е към почвата.
                Най-благоприятни условия за развитие намира при отглеждане на черноземни почви, но се развива добре и
                на излужени черноземи, сиви горски и канелени почви.
            </p>
            <p >
                Рационалният сеитбооборот е най-ефикасното средство за борба с болестите, плевелите и неприятелите,
                поради което той се явява и основен фактор за максимално реализиране на добива. Препоръчва се от 4- до
                6- годишно сеитбообращение, тъй като често отглеждане на рапица и репица на едно и също място води до
                натрупване на причинителите на гъбни болести и до увеличаване на популациите на основните неприятели.
                Най-подходящи предшественици са тези култури, които освобождават площите рано и остават почвата добре
                влагозапасена и чиста от плевели. Много добри предшественици се явяват пшеница, зимен ечемик, зимен овес,
                детелина, люцерна, картофи, грах, фасул. Не се препоръчва сеитбооборот на рапица със захарно цвекло
                поради факта, че рапицата се явява естествен тостоприемник на цвекловата нематода, а самосевките от
                рапица мотат да заплевелят посева от захарно цвекло.

            </p>
            <p >
                Рапицата е дребносеменна култура и успешното й поникване и първоначално развитие зависи в много силна
                степен от обработката на почвата. Тя трябва да осигури рохкав и мек повърхностен пласт без буци и плевели,
                твърдо легло на семената и добра влатозапасеност. След сеитбата почвата се валира.
            </p>
            <p >
                Културата се отличава със сравнително голяма потребност от хранителни вещества. Съотношението при зимната
                маслодайна рапица N:P:K е 4:2:1.
            </p>
            <p>
                За сеитба трябва да се използват добре изхранени и почистени семена, по възможност устойчиви на болести
                и неприятели.
            </p>
            <p>
                Правилната основна и предсеитбена обработка на почвата до голяма степен определя наличието на плевели
                и самосевки преди и след сеитбата. При наличие на едногодишни и някои широколистни плевели се препоръчва
                обеззаразяване с продукти за растителна защита преди сеитбата, които задължително се инкорпорират в
                почвата. След сеитбата се препоръчва третиране преди поникване на културите или вегетационно пръскане
                до втори лист на плевелите. Срещу едногодишни житни плевели и самосевки от пшеница се препоръчва пръскане
                във фаза 3-5 лист на плевелите.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum" 
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/4-tehnicheski-prilojenie.pdf"
                >
                    * Виж приложение 3
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <!-- -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители при рапицата са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#sclerotinia-sclerotiorum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Склеротинийно гниене - <span class="latin_name">Sclerotinia sclerotiorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#botrytis-cinerea" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сиво гниене - <span class="latin_name">Botrytis cinerea</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#alternaria-brassicae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Черни петна, тъмни петна по листата - <span class="latin_name">Alternaria brassicae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phoma-lingman" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фома, черен крак, рак - <span class="latin_name">Leptosphaeria maculans, синоним Phoma lingman</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#peronospora-parasitica" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мана - <span class="latin_name">Peronospora parasitica</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#eryziphe-cruciferarum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнеста мана - <span class="latin_name">Eryziphe cruciferarum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pyranopeziza-brassicae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Светли листни петна - <span class="latin_name">Pyranopeziza brassicae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pythium-spp" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Мокри гниенета
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Вирусни болести
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#ceutorhynchus-napi" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Рапичен стъблен скритохоботник – <span class="latin_name">Ceutorhynchus napi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#meligethes-aeneus" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Рапичен цветояд – <span class="latin_name">Meligethes aeneus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#ceutorhynchus-assimilis" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Рапичен скритохоботник – <span class="latin_name">Ceutorhynchus assimilis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#dasineura-brassica" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Зелево комарче по шушулките - <span class="latin_name">Dasineura brassica</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#brevicoryne-brassicae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Зелева листна въшка - <span class="latin_name">Brevicoryne brassicae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#desiccation" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Десикация
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices">
        <div class="aa-title" id="{{practice.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}" 
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}" 
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice.tablePiv !== null">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>http://www.cropscience.bayer.bg/BCSWeb/www/BCS_BG_Internet.nsf/id/BG_Ceuthorrhinchus_napi?open&ccm=100020</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=848448</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>Von ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=16420280</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>By Gilles San Martin[1] from Namur, Belgium - Dasineura brassicae adult, CC BY-SA 2.0, https://commons.wikimedia.org/w/index.php?curid=46639355</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>Di Pas d’auteur lisible par la machine identifié. Bogdan supposé (étant donné la revendication de droit d’auteur). - Aucune source lisible par la machine fournie. « Travail personnel » supposé (étant donné la revendication de droit d’auteur)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>By Forest & Kim Starr, CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=6156311</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

    <!-- Склеротинийно гниене -->
    <!-- <div class="aa-title" id="sclerotinia-sclerotiorum">
        <span></span>
    </div>
    <div class="row" >
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Склеротинийно гниене – <span class="latin_name">Sclerotinia sclerotiorum</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Симптомите на това заболяване мотат да се открият в края на май - началото на юни. Около стъблото се
                появява белезникав участък с дължина около 30 см. В този участък епидермисът лесно може да бъде обелен.
                Инфектираните участъци са най-често в основата на листата. Тъмнокафяви склероции с големина 2 - 8 мм се
                образуват в кухото стъбло. Болните растения изсъхват и стават чупливи. От преждевременно изсъхналите
                и узрели растения се оронват семената.
            </p>
            <p>
                Склероциите, които попадат в почвата по време на прибирането на реколтата или които остават в растителните
                остатъци, са основният фактор за разпространението на болестта. Те остават жизнени в почвата от 7 до 12
                години. Склероциите прорастват в апотеции през април - май, като изхвърлят аскоспори, с които заразяват
                рапичните растения. Влажните условия стимулират формирането на апотеции и удължават срока на аскоспорното
                заразяване. Заразяването се благоприятства ако съвпадне с пълния цъфтеж на растенията.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Едно от основните изисквания е да се пазят почвите от нови заразявания със склероциите на гъбата.
                Използване на чисти от склероции семена, 4-7-тодишно сеитбообращение и избягване на придшественици от
                род Кръстоцветни и култури, които са чувствителни на
                <span class="latin_name">Sclerotinia sclerotiorum</span> - картофи, тютюн, соя, фасул, слънчоглед и т.н.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма разрешени.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        target="_self"
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Склеротинийно гниене -->

    <!-- Сиво гниене -->
    <!-- <div class="aa-title" id="botrytis-cinerea">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent" >
            <h3 >Сиво гниене – <span class="latin_name">Botrytis cinerea</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                При влажни условия патогенът заразява рапицата, образувайки сиво-кафява маса от мицел с обилен брой
                конидии по повърхността на заразеното стъбло, разклонения, листа и чушки. Съществува рязка граница между
                здравата и болната тъкан при младите растения. По-късно тази разлика трудно се различава. По заразените
                части се образуват склероции.
            </p>
            <p>
                Заразените растителни остатъци в почвата са основен източник на зараза. Първите повреди мотат да се
                наблюдават във фаза котиледон, но гъбата основно се разпространява, когато зимният период е отминал.
                През пролетта повредите се появяват по презимувалите растения. По-късно заразяването зависи от комбинацията
                на климатичните условия и повредите по растенията от насекоми. Най-често срещаните повреди са при
                листната ос. Финалният цикъл на зараза може да се наблюдава по чушките. Ако растенията са инфектирани
                рано (края на зимата), гъбата предизвиква гниене на листата и сърцевината на растенията. При късна
                зараза инфекцията напредва от стъблата към чушките, предизвиквайки преждевременно зреене. Инфектираните
                чушки дават нисък добив от семена. Заразата от <span class="latin_name">B.cinerea</span>
                силно се влияе от климатичните условия.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Превантивните мерки за ограничаване на болестта включват сеитба на оптимална гъстота - 30-40 растения
                на м<sup>2</sup>. Избягване механичните повреди по растенията.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма разрешени.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        target="_self"
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Сиво гниене -->

    <!-- Черни петна -->
    <!-- <div class="aa-title" id="alternaria-brassicae">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent" >
            <h3 >Черни петна, тъмни петна по листата – <span class="latin_name">Alternaria brassicae</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                При влажни условия патогенът заразява растенията през целия вегетационен период. Първите симптоми на
                заболяването мотат да се наблюдават по котиледоните. По тях се появяват тъмнокафяви резки. Най-сериозни
                обаче са повредите по чушките. По обвивката им се появяват черни петна, контрастно отделени от здравата
                тъкан, покрити с конидии на гъбата. При нападение в млада възраст на чушките те се деформират. Заразените
                чушки се свиват, разпукват преждевременно и семената падат върху почвата. Те са с ниско тегло и качество.
            </p>
            <p>
                Заразените растителни остатъци (стъбла и листа) са основният източник на инфекция. Вятърът разнася
                конидиите и заразява младите растенията. Редуването на влажни и сухи периоди благоприятстват развитието
                на болестта, а най-подходяща температура за развитието на болестта е 18<sup>o</sup>С.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Основно изискване е спазването на сеитбооборота и избягване сеитбата на рапицата на полета с наличие
                на инокулум. Изораване на полетата възможно най-бързо след прибиране на реколтата.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма разрешени.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        target="_self"
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Черни петна -->

    <!-- Фома  -->
    <!-- <div class="aa-title" id="phoma-lingman">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent" >
            <h3 >Фома, черен крак, рак – <span class="latin_name">Leptosphaeria maculans, (синоним Phoma lingman)</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Първите симптоми от болестта се наблюдават от поникване до фенофаза 6-и лист. Вятърът разнася аскоспорите,
                образувани в псевдотеции по старите стъбла и листа от предната година. Спорите на гъбата се
                разпространяват с дъждовни капки по всички части на растенията, причинявайки сивкави петна, покрити
                с черни пикнидии. По растенията, заразени рано наесен, се образуват рани в основата на стъблата, които
                мотат да доведат до отмиране на растенията през зимата или пролетта. Напролет се заразяват листата и
                шушулките, като последните се разтварят и семената изпадат на земята. Вторичното заразяване се
                благоприятства от атаките по стеблата на <span class="latin_name">Ceutorhynchus napi</span>
                и <span class="latin_name">C. pallidactylus</span>. Затова е много важно да се контролира нападението
                от тези неприятели. Семената от заразените растения са с ниско тегло.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Превантивните мерки включват подходящо сеитбообращение, оптимална гъстота на сеитба (30-40 растения
                на м<sup>2</sup>), изораване на площите веднага след прибирането на реколтата, отглеждане на устойчиви
                сортове рапица.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма разрешени.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        target="_self"
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Фома  -->

    <!-- Мана  -->
    <!-- <div class="aa-title" id="peronospora-parasitica">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent" >
            <h3 >Мана – <span class="latin_name">Peronospora parasitica</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Гъбата атакува растенията още във фаза поникване. Инфекцията се появява най-напред по котиледоните,
                като жълто петънце по долната страна на листа. Патогенът се разпространява чрез спорантиоспори. При
                силна зараза растежът на растенията спира или те загиват. Симптомите по листата на по-възрастните растения
                се наблюдават между основните жилки като ясно очертани жълто-кафяви участъци. Гъбата формира ооспори
                в заразените тъкани, където се съхранява в почвата или заразените растителни участъци за месеци или
                години напред и се явяват основен източник на зараза.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Препоръчително е спазването на сеитбообращение и агротехническите мерки при отглеждане накултурата.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма разрешени.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        target="_self"
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Мана  -->

    <!-- Брашнеста мана -->
    <!-- <div class="aa-title" id="eryziphe-cruciferarum">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Брашнеста мана – <span class="latin_name">Eryziphe cruciferarumm</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Брашнестата мана не е от основните заболявания при рапицата. Гъбата напада зелените части на растенията.
                Първите симптоми са появата като тънки линийки от бял мицел по листната повърхност. Възможно е да бъде
                покрита част или цялата листна петура.
            </p>
            <p>
                Болестта се разпространява с конидиоспори, носени от вятъра. Болестта се благоприятства от температура
                15-20<sup>o</sup>С и висока атмосферна влажност.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>Не се налага контрол за това заболяване.</p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма разрешени.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        target="_self"
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!--КРАЙ Брашнеста мана -->

    <!-- Светли петна  -->
    <!-- <div class="aa-title" id="pyranopeziza-brassicae">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Светли листни петна – <span class="latin_name">Pyranopeziza brassicae</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Болестта се разпространява в години с влажен климат през зимата или пролетта. Бели петна с концентрични
                кръгове от конидии се появяват по листата. Ако заразата е силна, листата изсъхват, а инфекцията се
                премества към цветните пъпки, които по-късно стават кафяви. Чушките също мотат да бъдат повредени и
                деформирани, а нерядко и разпукани.
            </p>
            <p>
                Инфекцията от <span class="latin_name">P.brassicae</span> се появява през есента и може да причини
                сериозни повреди при мека зима, но симптомите по листата и стъблата не се откриват преди настъпването
                на пролетта. Растителните остатъци, са основен източник на зараза.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Превантивните мерки включват сеитба на устойчиви сортове рапица и заораване на растителните остатъци.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма разрешени.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        target="_self"
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!--КРАЙ Светли петна -->

    <!-- Мокри гниенета -->
    <!-- <div class="aa-title" id="pythium-spp">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent" >
            <h3 >Мокри гниенета</h3>
            <h4 class="my_class_h4">Описание на причинителите</h4>
            <p>
                Рапицата е чувствителна към гъби, причиняващи мокри гниенета. Такива са гъбите
                <span class="latin_name">Pythium spp</span> и <span class="latin_name">Thanatephorus cucumeris</span>,
                синоним <span class="latin_name">Rhizoctonia solani</span>. Пониците на рапицата загиват, преди да са
                се появили. Причинителите на заболяването преживяват в почвата или на друг тостоприемник. Болестта се
                благоприятства от ниски температури и висока атмосферна влажност. Нежелателни са и стресови фактори
                в развитието на растенията, които благоприятстват атаката на патотените.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Сеитбообращение. Избягване на влажни и студени почви.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма разрешени.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        target="_self"
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Мокри гниенета -->

    <!-- Вирусни болести -->
    <!-- <div class="aa-title" id="viruses">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Вирусни болести</h3>
            <h4 class="my_class_h4">Описание на причинителя</h4>
            <p>
                Няколко вируса атакуват рапицата (<span class="latin_name">Beet western yellows, luteovirus, Cauliflower
                mosaic caulimovirus, Turnip mosaic potyvirus</span>) и се пренасят с въшките
                <span class="latin_name">Myzus persicae</span> и <span class="latin_name">Brevicoryne brassicae</span>.
                Те спират растежа на растенията и намаляват добива от културата.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Ако нападението от <span class="latin_name">M.persicae</span> е станало много рано (между котиледон
                и 6-и лист), е желателно да се третира посевът. Подходящ момент за третиране е при нападение на
                растенията около 20 %.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма разрешени.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        target="_self"
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!--КРАЙ Вирусни болести -->


    <!-- НЕПРИЯТЕЛИ -->
    <!-- Рапичен стъблен скритохоботник -->
    <!-- <div class="aa-title" id="ceutorhynchus-napi">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent" >
            <h3 >Рапичен стъблен скритохоботник – <span class="latin_name">Ceutorhynchus napi</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Ларвите на <span class="latin_name">Ceutorhynchus napi</span> нанасят сериозни вреди по стъблата на
                рапицата. Възрастните зимуват в почвата и започват да мигрират, когато температурата на почвата достигне
                6<sup>о</sup>С на дълбочина 2 см. При температура на въздуха 9 - 12<sup>о</sup>С започват да се хранят
                с рапичните растения. <span class="latin_name">Ceutorhynchus pallidactylus</span>
                (= <span class="latin_name">Ceutorhynchus napi</span>) причиняват подобни щети, но вредят главно през пролетта.
            </p>

            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Основно средство за предотвратяване повредите от неприятеля е сеитбообращението. Към пръскане на посевите
                трябва да се пристъпва при наличие на 25 или повече възрастни хоботника в продължение на 3 дни при 4
                жълти съцветия.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма разрешени.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/insects/Ceuthorrhinchus_napi.jpg"
                    data-title="Рапичен стъблен скритохоботник">
                        <img src="../../../../../assets/insects/Ceuthorrhinchus_napi_thumb.jpg" 
                        alt="Ceuthorrhinchus napi" title="Рапичен стъблен скритохоботник"/>
                        <span class="title_thumb">Рапичен стъблен скритохоботник</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        target="_self"
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div 
                class="panel panel-success text-center" 
                style="cursor: pointer;">
                <div class="panel-heading">
                    <a> ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</a>
                </div>
            </div>
        </div>
        <div >
            <div class="panel panel-success table-threshold text-center">
                <div class="panel-body">
                    <div >
                        <table class="piv_table">
                            <thead>
                                <tr>
                                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                                    <th>
                                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tr_name_pest">
                                    <td colspan="3" 
                                        class="tr_latin">РАПИЧЕН И ЗЕЛЕВ СТЪБЛЕНИ СКРОТОХОБОТНИЦИ 
                                        <span class="latin_name">Ceutorhynchus napi, Ceutorhynchus quadridens</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>през пролетта при 8-10 ° С температура на въздуха</td>
                                    <td >възрастни</td>
                                    <td>2-4 бр./кв.м</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Рапичен стъблен скритохоботник -->

    <!-- Рапичен цветояд -->
    <!-- <div class="aa-title" id="meligethes-aeneus">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent" >
            <h3 >Рапичен цветояд – <span class="latin_name">Meligethes aeneus</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Възрастните и ларвите на <span class="latin_name">Meligethes aeneus</span> повреждат цветните пъпки в
                основата, като протризват дупчица в неотворените цветни пъпки и изтризват вътрешността Възрастните
                мигрират в торите и поляните, когато температурата на въздуха достигне 10 - 11<sup>o</sup>С .
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Пръскане на посевите се препоръчва при наличие на 1-2 възрастни по затворените бутони. Прагът на вредност
                е по-висок две седмици преди цъфтежа - при наличие на 4 възрастни на растение е оправдано воденето на
                химическа борба.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p><span class="active-substance">Ламбдацихалотрин, тиаклоприд, алфациперметрин, хлорпирифосетил,
                    циперметрин + хлорпирифосетил.</span></p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/insects/Meligethes_aeneus01.jpg"
                    data-title="Рапичен цветояд">
                        <img src="../../../../../assets/insects/Meligethes_aeneus01_thumb.jpg" 
                        alt="Meligethes aeneus" title="Рапичен цветояд"/>
                        <span class="title_thumb">Рапичен цветояд</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        target="_self"
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div 
                class="panel panel-success text-center" 
                style="cursor: pointer;">
                <div class="panel-heading">
                    <a> ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</a>
                </div>
            </div>
        </div>
        <div >
            <div class="panel panel-success table-threshold text-center">
                <div class="panel-body">
                    <div >
                        <table class="piv_table">
                            <thead>
                                <tr>
                                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                                    <th>
                                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tr_name_pest">
                                    <td colspan="3" class="tr_latin">РАПИЧЕН ЦВЕТОЯД <span class="latin_name">Meligethes aeneus</span></td>
                                </tr>
                                <tr>
                                    <td rowspan="2">бутонизация - видими цветни пъпки ("зелен бутон")</td>
                                    <td rowspan="2">възрастни</td>
                                    <td>2 бр./растение -посев под оптималната гъстота и по-слаб потенциал</td>
                                </tr>
                                <tr>
                                    <td>4 бр./кв.м. - посев с оптимална гъстота и добър потенциал</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Рапичен цветояд -->

    <!-- Рапичен скритохоботник -->
    <!-- <div class="aa-title" id="ceutorhynchus-assimilis">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent" >
            <h3 >Рапичен скритохоботник – <span class="latin_name">Ceutorhynchus assimilis</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Възрастните на <span class="latin_name">Ceutorhynchus assimilis</span> се хранят и снасят яйцата си
                в младите чушки на рапицата. По-късно излюпените ларви започват да се хранят със семената в чушката.
                <span class="latin_name">C. assimilis</span> е особено вредоносен при висока температура по време на
                цъфтежа. Голяма концентрация на неприятеля обикновено се наблюдава в самия край на полетата.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Към химическо третиране трябва да се пристъпи веднага след формиране на чушките и при наличие на
                0.5 - 2 възрастни на растение.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма разрешени.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/insects/Ceutorhynchus_assimilis.jpg"
                    data-title="Рапичен скритохоботник">
                        <img src="../../../../../assets/insects/Ceutorhynchus_assimilis_thumb.jpg" 
                        alt="Ceutorhynchus assimilis" title="Рапичен скритохоботник"/>
                        <span class="title_thumb">Рапичен скритохоботник</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        target="_self"
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div 
                class="panel panel-success text-center" 
                style="cursor: pointer;">
                <div class="panel-heading">
                    <a> ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</a>
                </div>
            </div>
        </div>
        <div >
            <div class="panel panel-success table-threshold text-center">
                <div class="panel-body">
                    <div >
                        <table class="piv_table" style="width:100%" border="1">
                            <thead>
                                <tr>
                                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                                    <th>
                                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tr_name_pest">
                                    <td colspan="3" class="tr_latin">ШУШУЛКОВ ХОБОТНИК <span class="latin_name">Ceutorhynchus obstrictus (=assimilis)</span></td>
                                </tr>
                                <tr>
                                    <td>при оформяне на първите шушулки</td>
                                    <td>възрастни</td>
                                    <td>2-4 бр./кв.м</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Рапичен скритохоботник -->

    <!-- Зелево комарче -->
    <!-- <div class="aa-title" id="dasineura-brassica">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent" >
            <h3 >Зелево комарче по шушулките – <span class="latin_name">Dasineura brassica</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Възрастните на <span class="latin_name">Dasineura brassica</span> снасят яйцата си в младите чушки.
                Новоизлюпените ларви се хранят и повреждат семената, а нерядко предизвикват разцепване на шушулките.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Тъй като повредите, които нанася <span class="latin_name">Dasineura brassica</span>, са същите, като
                причинените от <span class="latin_name">Ceutorhynchus assimilis</span>, достатъчно е да се контролира
                <span class="latin_name">C. assimilis</span>.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма разрешени.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/insects/Dasineura_brassicae_adult.jpg"
                    data-title="Зелево комарче по шушулките">
                        <img src="../../../../../assets/insects/Dasineura_brassicae_adult_thumb.jpg" 
                        alt="Dasineura brassica" title="Зелево комарче по шушулките"/>
                        <span class="title_thumb">Зелево комарче</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        target="_self"
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Зелево комарче -->

    <!-- Зелева листна въшка -->
    <!-- <div class="aa-title" id="brevicoryne-brassicae">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent" >
            <h3 >Зелева листна въшка – <span class="latin_name">Brevicoryne brassicae</span></h3>
            <h4 class="my_class_h4">Описание на неприятелите</h4>
            <p>
                Въшките са широко разпространен неприятел по рапицата. При силно нападение предизвикват деформации по
                листата и шушулките. Семената от повредени растения са с ниско тегло.
            </p>
            <h4 class="my_class_h4">Стратегия на борба</h4>
            <p>
                Към химическа борба се пристъпва в края на цъфтежа на рапицата, използвайки селективни инсектициди.
                Към третиране се пристъпва при наличие на две колонии на м<sup>2</sup> открити в краищата на полето.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма регистрация.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        target="_self"
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Зелева листна въшка -->

    <!-- ПЛЕВЕЛИ -->
    <!-- <div class="aa-title" id="weed">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Плевели</h3>
            <h4 class="my_class_h4">Описание на плевелите</h4>
            <p>
                При отглеждане на рапицата особено важно е извеждането на борбата с плевелите и самосевките преди и
                веднага след сеитбата. Основно борбата се извежда срещу едногодишни житни и широколистни плевели.
                Като правило зимната рапица се конкурира успешно с плевелите през този период за разлика от пролетната рапица.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Един от способите за контрол над плевелите е спазване на сеитбообращение. Правилната основна и
                предсеитбена обработка до голяма степен определя наличието на плевели и самосевки преди и след сеитбата.
                Препоръчва се да се използват комбинирани хербициди с последействащ ефект.
            </p>
            <h4 class="my_class_h4 as">Активни вещества.</h4>
            <p class="as"><span class="bold">Едногодишни широколистни и житни плевели</span></p>
            <p class="as">
                - след сеитба, преди поникване - <span class="active-substance">тазахлор;</span>
            </p>
            <p class="as">
                - за фуражна рапица - <span class="active-substance">напропамид</span>
            </p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/weeds/Amaranthus_retroflexus_bgiu.jpg" 
                        data-title="Щир">
                        <img src="../../../../../assets/weeds/Amaranthus_retroflexus_bgiu_thumb.jpg" 
                            alt="Amaranthus sp." title="Щир"/>
                            <span class="title_thumb">Щир</span>
                    </a>
                </li>
                <li>
                    <a data-lightbox="image" href="../../../../../assets/weeds/Capsella_bursa-pastoris.jpg" 
                    data-title="Овчарска торбичка">
                        <img src="../../../../../assets/weeds/Capsella_bursa-pastoris_thumb.jpg" 
                            alt="Capsella bursa-pastoris" title="Овчарска торбичка"/>
                            <span class="title_thumb">Овчарска торбичка</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        target="_self"
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ ПЛЕВЕЛИ -->

    <!-- Десикация -->
    <!-- <div class="aa-title" id="desiccation">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent" >
            <h3 >Десикация</h3>
            <h4 class="my_class_h4">Описание на десикацията</h4>
            <p>
                Идеята за направата на десикацията е да се изсушат всички листа и стебла в най-подходящия период за
                по-доброто прибиране на реколтата. По този начин донякъде се премахват и плевелите, които обикновено
                пречат при прибирането. Понеже десикацията може да доведе и до загуби на семе, не се препоръчва като
                задължително мероприятие. Добре е да се пристъпи към нея, ако има проблем с узряването или наличие на
                плевели в полето.
            </p>
            <h4 class="my_class_h4">Стратегия на борба</h4>
            <p>
                Времето за десикация е от особено значение, за да се предотвратят всякакви загуби от културата.
                Най-подходящ момент е, когато 70% от шушулките са пожълтели и някои семена са кафяви
                (обикновено 4-5 дни преди жътва).
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма разрешени.</p>
        </div>
    </div> -->
    <!-- КРАЙ Десикация -->

    
