<div class="row text-center" id="prz-loader" *ngIf="!isLoaded">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="isLoaded" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЕЛЕНЧУЦИ В КУЛТИВАЦИОННИ СЪОРАЖЕНИЯ</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ЛИСТНИТЕ ЗЕЛЕНЧУЦИ</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/049(1)</p>
        <p class="number-eppo">№ на ЕРРО РР 2/3(2)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Никола Николов<br/>
                ст.н.с.II ст. д-р Димитринка Христова<br/>
                ст.н.с.II ст. д-р Оля Караджова<br/>
                ст.н.с.II ст. д-р Василка Николова<br/>
                д-р Петър Николов - НСРЗ<br/>
                Екатерина Томева - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ЛИСТНИ ЗЕЛЕНЧУЦИ*</h2>
    </div>
    
    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при листни зеленчуци (салата, маруля, спанак).</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p>
                Постигането на Дорба растителнозащитна практика при листни зеленчуци отглеждана в 
                култивационни съоражения, има следните специфични трудности:
            </p>
            <p>
                1. Поради монокултурното отглеждане тя се заразяват лесно с различни вредители;
            </p>
            <p>
                2. Листните зеленчуци са от продукцията, предназначена за пазара, от която се изисква да 
                няма напетнявания и видими повреди от насекоми върху нея. При зеленчуците, чиито плодовете 
                са предназначени за пазара (домати и краставици), се допускат известни повреди от 
                вредителите по листата;
            </p>
            <p>
                3. Нивото на допустимите остатъчни количества от продукти за растителна защита е много 
                ниско, тъй като салатата се консумира в прясно състояние (без период на съхранение).
            </p>
            <p>
                Добрата растителнозащитна практика (ДРЗП) при листните зеленчуци включва още опазване на 
                култивационните съоражения от разпространение на вредители чрез редица агротехнически 
                мероприятия. Те включват: оптимална гъстота между отделните растения; избягване прекалено 
                високата относителна влажност на въздуха; достатъчно поливане през горещите периоди с 
                цел да се избегне появата на връхни листни некрози (които благоприятстват развитието на 
                сивото гниене); растенията да не се поливат късно през деня и да не се оставят мокри 
                вечер; отстраняване на болните растения за ограничаване на вторичното заразяване чрез 
                спори; спазване на профилактиктичните изисквания в цялата оранжерия. Задължителна борба 
                с плевелите около оранжериите, тъй като те са резервоар на голям брой вредители. 
                Широко разпространена практика за борба с вредителите в оранжериите е обеззаразяването 
                на почвата.
            </p>
            <p>
                Голям брой вируси нападат листните зеленчуци и причиняват икономически опасни заболявания. 
                Борбата с векторите на вирусите по салата е изключително важна. При възможност за избор 
                да се използват толерантни спрямо вирусите сортове, а посадъчният материал да бъде 
                свободен от вируси. Необходимо е растенията да се преглеждат редовно и да се отстраняват 
                тези с видими симптоми.
            </p>
            <p>
                Фермерите обикновено си купуват готови семена, но те могат да си ги произведат и сами. 
                Това ръководство не покрива напълно вредителите по салатата при производството на разсад. 
                При разсадопроизводството се използва висококачествен компост. Отглеждането да се 
                извършва в изолирани помещения, за да се предотврати пренасянето на заразата от по-стари 
                болни растения (преди всичко брашнеста мана и вирусни болести). Семената трябва да 
                отговарят на приетите сертификационни стандарти за <span class="latin_name">Lettuce mosaic potyvirus</span> 
                или да се използват толерантни сортове. Срещу почвените патогени семената да се 
                обеззаразяват предварително и да се избягва преовлажняването на почвата. Осигуряването на 
                оптимални условия за отглеждане на салатата може да намалят риска от разпространение на 
                заболяванията. Засаждането на прераснали или повредени растения в суха почва трябва да 
                се избягва, за да се ограничи разпространението на сивото гниене. В ранните фази от 
                развитието на растенията да се извършва по-често поливане, за да се осигури добър запас 
                от влага през по-късните фази, когато рискът от развитие на маната е най-голям. 
                Балансираното торене с калий също намалява риска от сиво гниене.
            </p>
            <p>
                Почвата трябва да бъде чиста от вредители (неприятели, патогени и плевелни семена). 
                Някои салати се отглеждат върху изкуствени хранителни среди. В тези случаи препоръките, 
                дадени в ръководството за почвените неприятели, не се прилагат или се прилагат ограничено. 
                Основните вредители по салата са:
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum" 
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/6-zelenchuci_oranjerii-prilojenie.pdf"
                >
                    * Виж приложение 5
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->
    
    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители no листни зеленчхии са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#bremia-lactucae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мана по салатата - <span class="latin_name">Bremia lactucae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#peronospora" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мана по спанака - <span class="latin_name">Peronospora effusa</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мозайка по салатата - <span class="latin_name">Lettuce mosaic virus (LMV)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Краставична мозайка - <span class="latin_name">Cucumber mosaic cucumovirus (CMV)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#dysaphis-crataegi" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листни въшки - <span class="latin_name">Dysaphis crataegi, Pemphigus bursarius</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#agrotis-ipsilon" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нощенки
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#limacidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Голи охлюви
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#grylotalpa" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Попово прасе - <span class="latin_name">Grylotalpa grylotalpa</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices">
        <div class="aa-title" id="{{practice.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}" 
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" lazy-load="{{image.thumbPath}}" 
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice.tablePiv !== null">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By Rasbak - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=1196322</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Caroline Harding, MAF - This image is found here at PaDIL, a source of images designed for Biosecurity and Biodiversity.This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information.PaDIL, CC BY 3.0 au, https://commons.wikimedia.org/w/index.php?curid=16228320</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=40008798</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

    <!-- Мана по салатата -->
    <!-- <div class="aa-title" id="bremia-lactucae"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Мана по салатата - <span class="latin_name">Bremia lactucae</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                По разсада се наблюдава хлороза, която може да доведе до изсъхване на болните растения. 
                По листата на възрастните растения се появяват хлоротични или жълтеникави петна, по 
                долната страна на които се развива бял спороносен налеп. По-късно петната некротират. 
                Гъбата презимува като ооспора в растителните остатъци и мицел в растенията оставени за 
                семе. Болестта се развива при хладно (оптимум 15°С) и влажно време.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Унищожаване на растителните остатъци. Спазване на тригодишно сеитбообръщение. Използване 
                на здрави семена. Производство на здрав разсад. Поддържане на оптимална температура 
                (над 15°С) и влажност в култивационните съоражения. Третиране на растенията с фунгициди 
                в ранните фази от развитието им.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                Няма регистрирани препарати.
            </p>
        </div>
        <div class="pest-image-container " >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/diseases/Bremia_lactucae.jpg"  
                    data-title="Мана по салатата - Bremia lactucae">
                    <img  threshold="200" lazy-load="../../../../../assets/diseases/Bremia_lactucae_thumb.jpg" 
                        alt="Bremia lactucae" title="Мана по салатата"/>
                        <span class="title_thumb">Мана по салатата</span>
                    </a>
                </li>
            </ul>
        </div>
    </div> -->
    <!-- КРАЙ Мана по салатата -->   

    <!-- Мана по спанака -->
    <!-- <div class="aa-title" id="peronospora"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Мана по спанака - <span class="latin_name">Peronospora effusa</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                По листата се появяват бледозелени неясно очертани петна, които стават жълти и некротират. 
                При силно напетняване листата прегарят. От долната страна на петната се развива сиво-виолетов 
                налеп. Гъбата се развива при хладно и влажно време. Патогенът се запазва с растителните 
                остатъци и семената.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Унищожаване на растителните остатъци. Прилагане на тригодишно сеитбообръщение. Използване 
                на семена от незаразени посеви. Обеззаразяване на семената чрез потапяне в затоплена до 
                50<sup>o</sup>С вода за 25 min. Третиране на растенията с фунгициди в ранните фази от 
                развитието им.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                Няма регистрирани препарати.
            </p>
        </div>
        <div class="pest-image-container " >
            
        </div>
    </div> -->
    <!-- КРАЙ Мана по спанака -->   

    <!-- Вируси -->
    <!-- <div class="aa-title" id="viruses"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Мозайка по салатата - <span class="latin_name">Lettuce mosaic virus (LMV)</span></h3>
            <h3 >Краставична мозайка - <span class="latin_name">Cucumber mosaic cucumovirus (CMV)</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Мозайката по салатата се проявява като бледозелено мозаично прошарване, а понякога като 
                неясна хлороза между жилките. Листата са деформирани и по-твърди от здравитите. Често се 
                наблюдава кафяво прегаряне по краищата. При главестата салата се образуват дребни и 
                рехави глави. При някои сортове се наблюдават некротични петна по жилките и между тях. 
                Вирусът се пренася със семената и по неперсистентен начин от различни видове литни въшки.
            </p>
            <p>
                Салатата много често страда от вируса на краставичната мозайка. Симптомите са силна 
                хлороза на листата, проявена от долу на горе с почервеняване, което започва от периферията 
                и постепенно обхваща петурата. Горните листа на болните растения са много по-силно накъдрени. 
                Вирусът се разпространява от голям брой видове листни въшки по неперсистентен начин.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Добра растителнозащитна практика срещу мозайката по салатата е използването на семена от 
                гарантирано здрави растения. Наличието дори на нисък процент инфектирани семена води до 
                развитие на болестта в големи размери. Поради това е наложително появилите се болни 
                растения да се унищожават своевременно. Необходимо е грижливо почистване на разсада от 
                болни растения Около насажденията се води борба с плевелите, особено сложноцветните. 
                За предпазване от листни въшки е добре да се засяват кулиси от церевица или други високи 
                растения за привличане на листните въшки.
            </p>
        </div>
        <div class="pest-image-container " >
            
        </div>
    </div> -->
    <!-- КРАЙ Вируси -->   

    <!-- Листни въшки -->
    <!-- <div class="aa-title" id="dysaphis-crataegi"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Листни въшки - <span class="latin_name">Dysaphis crataegi, Pemphigus bursarius</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                <span class="latin_name">Pemphigus bursarius</span> поврежда подземните части на салатата, 
                марулята, спанака. Тази въшка лесно се разпознава по белия восъчен налеп, с който е 
                покрито тялото й. Нападнатите от нея растения изостават в развитието си и лесно се 
                изскубват. Нападението от тази въшка най-често е на хармани. Числеността и нараства през 
                втората половина на вегетицията, когато растенията вече реагират по-слабо на повредите. 
                У нас <span class="latin_name">Pemphigus bursarius</span> е мигриращ вид, с основен 
                гостоприемник тополата, върху коята зимува като яйце и немигриращ (непълноцикличен) вид, 
                зимуващ в почвата.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Спазване на сеитбообращение и на пространствена изолация, добра обработка на почвата и 
                унищожаване на плевелите, по които тази въшка се развива. Унищожаване на нападнатите 
                растения. <span class="ундерлине">Листните зеленчуци не трябва да се третират с 
                инсектициди</span>. При по-силно нападение може да се пръска с минерални масла за 
                растителна защита или растителни извлеци.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                <span class="active-substance">Парафинови минерални масла; растителни извлеци.</span>
            </p>
        </div>
        <div class="pest-image-container " >
            
        </div>
    </div> -->
    <!-- КРАЙ Листни въшки -->   

    <!-- Нощенки -->
    <!-- <div class="aa-title" id="agrotis-ipsilon"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Нощенки</h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Листните зеленчукови култури се нападат от следните многоядни нощенки: а/ подгризващи 
                (<span class="latin_name">Agrotis ipsilon, A. segetum, A. exclamationis</span>), 
                чиито гъсеници от I и II възраст скелетират листата, а следващите възрасти прегризват 
                младите растения на нивото на почвата; б/ надземни 
                (<span class="latin_name">Mamestra brassicae, M. oleracea, Autographa gamma</span>), 
                гъсениците на които скелетират листата, изгризват отвори с различни големини, а при 
                висока плътност унищожават цялата листна маса. Ипсилоновата и гамозначната нощенка 
                развиват 3 поколения през годината у нас, а останалите по две. Гъсениците на 
                подгризващите нощенки са пепелявосиви и се намират плитко в почвата около растенията, а 
                тези от надземните значително варират в оцветяването - от тревистозелени до тъмнозелено.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Агротехническите мероприятия имат важно значение като растителнозащитно средство в 
                зеленчуковите градини. Успоредно с благоприятните условия за развитието на растенията с 
                тях се унищожава значителна част от популациите на нощенките, влошават се условията 
                за хранене и яйцеснасяне. Срещу тези неприятели трябва да се провежда биологическа борба, 
                която се основава на праговете на икономическа вредност за отделните видове. Използват 
                се яйчният паразит трихограма, и бактериални продукти за растителна защита на база 
                <span class="latin_name">Bacillus thuringiensis</span>. Необходимостта от борба и 
                сроковете за провеждането и се определят въз основа на летежа на пеперудите, проследяван 
                с феромонови и светлинни уловки. Химическа борба не се провежда.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                <span class="active-substance">Бактериални препарати.</span>
            </p>
        </div>
        <div class="pest-image-container " >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/insects/Agrotis_ipsilon_aneituma.jpg"
                    data-title="Нощенки - Agrotis ipsilon">
                        <img src="../../../../../assets/insects/Agrotis_ipsilon_aneituma_thumb.jpg" 
                        alt="Agrotis ipsilon" title="Agrotis ipsilon"/>
                        <span class="title_thumb">Agrotis ipsilon</span>
                    </a>
                </li>
            </ul>
        </div>
    </div> -->
    <!-- КРАЙ Нощенки -->   

    <!-- Голи охлюви -->
    <!-- <div class="aa-title" id="limacidae"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Голи охлюви - <span class="latin_name">Limacidae</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Голите охлюви са многоядни, но най-често нападат ранните зеленчуци. Те нагризват листата 
                на салатата, марулята, спанака. Особено опасни са в години с повече валежи през летните 
                месеци. Влажните и по-лесно затоплящи се почви благоприятстват по-висока активност на 
                голите охлюви. Засушаването води до намаляване популационната плътност на тези неприятели. 
                От познатите 25 вида у нас стопанско значение имат 2-3 вида. Голите охлюви живеят 1-3 
                години, зимуват яйца, млади ларви и възрастни. Развиват няколко поколения годишно. При 
                придвижването си по растенията и почвата те оставят бяла диря от слуз, което е показател за присъствието им.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Агротехническите мероприятия, като редовна обработка на почвата, разтрошаване на буците, 
                почистване на площите от растителни остатъци, просушаване на заблатените участъци 
                създават неблагоприятни условия за намножаването на тези неприятели. На малки площи може 
                да се проведе механична борба с ловни пояси, примамки от различни материали, като 
                събраните охлюви се посипват с минерален тор или се заливат с гореща вода. При масово 
                намножаване се прилага напрашване с праховиден суперфосфат, негасена вар или калиева 
                селитра.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                Не се прилагат химични продукти за растителна защита.
            </p>
        </div>
        <div class="pest-image-container " >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/rodents/Limacidae.jpg"
                    data-title="Гол охлюв">
                        <img src="../../../../../assets/rodents/Limacidae_thumb.jpg" 
                        alt="Limacidae" title="Гол охлюв"/>
                        <span class="title_thumb">Гол охлюв</span>
                    </a>
                </li>
            </ul>
        </div>
    </div> -->
    <!-- КРАЙ Голи охлюви -->   

    <!-- Попово прасе -->
    <!-- <div class="aa-title" id="grylotalpa"></div>
    <div class="row" >
        <div class="pest-description-container text-indent">
            <h3 >Попово прасе - <span class="latin_name">Grylotalpa grylotalpa</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Поповото прасе напада всички зеленчукови култури у нас. Ларвите и възрастните прегризват 
                младите кълнове, прекъсват младите корени, хранят се с подземните части на растенията. 
                Обитава добре обработени и наторени с оборски тор влажни почви. Поповото прасе развива 
                1 поколение годишно и зимува като ларва, нимфа и възрастно в почвата, в парниците и в 
                куповете с оборски тор. Води нощен живот. Мъжките прелитат на къси разстояния.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Борбата с този неприятел е насочена основно срещу презимувалите индивиди. Обработката на 
                почвата спомага за разрушаване ходовете и гнездата на това насекомо, както и унищожаване 
                на различните му стадии. На малки площи могат да бъдат използвани водни капани, заровени 
                в почвата до горния ръб на съда. Разхвърляне на купчини оборски тор, в които се събира 
                поповото прасе. Събраните в капаните и оборския тор насекоми се унищожават. Борбата с 
                поповото прасе се извършва основно с отровни примамки от зърно (пшеница, ечемик, царевица 
                или ярма от тях), примесено с инсектицид и растителна мазнина. Доза 4-5 г/м<sup>2</sup>. 
                При нападение на по-големи площи се прилага внасяне на гранулирани инсектициди.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                Примамки: <span class="active-substance">метомил, пиримифосметил, фенвалерат, хлорпирифосетил, фенитротио.</span>
            </p>
        </div>
        <div class="pest-image-container " >
            
        </div>
    </div> -->
    <!-- КРАЙ Попово прасе -->
    
    
<!--  -->
<!-- <div class="aa-title" id=""></div>
<div class="row" >
    <div class="pest-description-container text-indent">
        <h3 > – <span class="latin_name"></span></h3>
        <h4 class="my_class_h4">Описание на болестта</h4>
        <p>
            
        </p>
        <h4 class="my_class_h4">Стратегия за борба</h4>
        <p>
            
        </p>
        <p>
            
        </p>
        <p>
            
        </p>
        <h4 class="my_class_h4 as">Активни вещества</h4>
        <p class="as">
            <span class="active-substance"></span>
        </p>
        <p>
            
        </p>
    </div>
    <div class="pest-image-container " >
        
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-warning panel-back-link text-center">
            <div class="panel-heading panel-heading-back-link">
                <a  class="back_link_bottom">
                    виж друг неприятел
                </a>
            </div>
        </div>
    </div>
</div> -->
<!-- КРАЙ  -->   
    
<!--  -->
<!-- <div class="aa-title" id=""></div>
<div class="row" >
    <div class="pest-description-container text-indent">
        <h3 > – <span class="latin_name"></span></h3>
        <h4 class="my_class_h4">Описание на неприятеля</h4>
        <p>
            
        </p>
        <h4 class="my_class_h4">Стратегия за борба</h4>
        <p>
            
        </p>
        <p>
            
        </p>
        <p>
            
        </p>
        <h4 class="my_class_h4 as">Активни вещества</h4>
        <p class="as">
            <span class="active-substance">
        </p>
        <p>
            
        </p>
    </div>
    <div class="pest-image-container " >
        
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-warning panel-back-link text-center">
            <div class="panel-heading panel-heading-back-link">
                <a  class="back_link_bottom">
                    виж друг неприятел
                </a>
            </div>
        </div>
    </div>
</div> -->
<!-- КРАЙ  -->
                
                    
                
                    
                
                
                
                    
            
        
        
        
        
        
