.mat-header-cell{
    background: rgb(110, 0, 35);
    color: rgb(255, 255, 255) !important;
}

.mat-column-name {
    a {
        color: rgb(110, 0, 35);
    }
}

.more_info {
    .mat-button {
        color: rgb(110, 0, 35);
    }
}
