<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav"
            #snav 
            mode="over"
            fixedInViewport
            fixedTopGap="0"
            fixedBottomGap="0"
            color="primary"
            position="end">
        <prz-side-nav (navClose)="snav.toggle()"></prz-side-nav>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <header>
            <prz-header (navToggle)="snav.toggle()"></prz-header>
        </header>
        <router-outlet></router-outlet>
        <footer style="background-color: brown; height: 100px"></footer>
        
    </mat-sidenav-content>
</mat-sidenav-container>