<div class="row text-center" id="prz-loader" *ngIf="!isLoaded">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="isLoaded" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЕДНОГОДИШНИ И МНОГОГОДИШНИ БОБОВИ КУЛТУРИ</h2>
    </div>
    <div class="row logo-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ЛЕЩА</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/024(1)</p>
    </div>
    <div class="row ">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.I ст. д.с.н Невена Богоцевска<br/>
                ст.н.с.II ст. д-р Димитринка Христова<br/>
                ст.н.с.II ст. д-р Иван Киряков<br/>
                ст.н.с.II ст. д-р Евдокия Станева<br/>
                ст.н.с.II ст. д-р Спаска Симова<br/>
                ст.н.с.II ст. д-р Ралица Накова<br/>
                д-р Петър Николов – НСРЗ<br/>
                Екатерина Томева - НСРЗ<br/>
                Антон Величков – НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ ЛЕЩА*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p >Този стандарт очертава принципите на Добрата растителнозащитна практика при леща.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>

            <p >
                Лещата принадлежи към най-старите културни растения. Тя се отглежда заради семената, които се употребяват
                за храна на хората и по-малко за технически цели и като фураж за добитъка. По съдържание на белтъчини семената
                на лещата не отстъпват на семената на фасула и граха. Като храна за човека семената се употребяват главно
                като вариво. За селскостопанските животни се употребяват семена от по-дребносеменни сортове или от по-стари
                реколти. Сеното и съдържа около 14%. белтъчини. Особено добър фураж е плявата на лещата.
            </p>
            <p >
                У нас лещата се отглежда като пролетна култура, но в някои по-южни области може да се отглежда като зимно.
                Оптималната температура за развитието и е около 30°С, така че най-добри са условията в по-топлите райони
                на страната. Тя не страда от късните пролетни слани и студове. Семената покълнват при 4-5°С. Поникналите
                млади растения могат да издържат до температура -6°С. След поникването растенията не се нуждаят от много
                влага, но изискват сравнително повече топлина. Към почвата лещата не е много взискателна, като най-добри
                са дълбоките глинесто-песъчливи почви, леките черноземи, канелените и сиви горски почви, съдържащи достатъчно
                хранителни вещества и вар. Поради това, че страда много от заплевеляване, трябва да се постави в сеитбообръщение
                след растения, които оставят почвата чиста и добре разработена. Най-добри предшественици са окопните култури,
                торени с оборска тор. Тя е отличен предшественик за зимни и пролетни житни култури, защото обогатява почвата
                с азот и я оставя в добро физическо състояние.
            </p>
            <p>
                ДРЗП изисква отглеждане на лещата при висок агрофон, включването й в сеитбообръщения, използване на здрави
                семена за посев, устойчиви и толерантни сортове, предпосевно третиране на семената с фунгицидни средства,
                инсектицидни третирания срещу неприятелите при достигане на икономическите прагове на вредност, хербицидни третирания.
            </p>
            <p>
                В ДРЗП трябва да се използва подходяща техника, като се намали изтичането на продукти за растителна защита
                и нежелателното им разсейване. За предотвратяване появата на резистентност да се избягва повторна употреба
                на продукти за растителна защита с еднакъв механизъм на действие.
            </p>
            <p >
                ДРЗП, препоръчвана от ЕРРО, изисква използването само на активни вещества, регистрирани в съответната
                страна за даден вредител.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum" 
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/3-bobovi-prilojenie.pdf"
                >
                    * Виж приложение 2
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители по лещата в България са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#ascochyta-lentis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Аскохитоза - <span class="latin_name">Ascochyta lentis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#colletotrichum-truncatum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Антракноза - <span class="latin_name">Colletotrichum truncatum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#uromyces-fabae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ръжда - <span class="latin_name">Uromyces fabae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium-oxysporum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фузарийно увяхване - <span class="latin_name">Fusarium oxysporum f.sp. lentis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sclerotinia-sclerotiorum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Склеротиния - <span class="latin_name">Sclerotinia sclerotiorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#bean-yellow" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Жълта фасулева мозайка - <span class="latin_name">Bean yellow mosaic potyvirus</span> - BYMV
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#bruchus-lentis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Лещен зърнояд - <span class="latin_name">Bruchus lentis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#curculionidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Грудкови хоботници - <span class="latin_name">Sitona crinita</span> и <span class="latin_name">Sitona lineata</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#laspeyresia-nigricana" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Тъмна грахова листозавивачка - <span class="latin_name">Laspeyresia nigricana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tychius-quinquepunctatus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бобов петточков хоботник - <span class="latin_name">Tychius quinquepunctatus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#etiella-zinckenella" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бобова огневка (соев молец) - <span class="latin_name">Etiella zinckenella</span>
                    </a>
                </li>

                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon> 
                        Плевели
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices">
        <div class="aa-title" id="{{practice.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}" 
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" lazy-load="{{image.thumbPath}}" 
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice.tablePiv !== null">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>https://www.viarural.com.ar/viarural.com.ar/agricultura/aa-enfermedades/ascochyta-lentis-01.htm</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By Cwmhiraeth - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=16131525</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>By Jymm - Own work, Public Domain, https://commons.wikimedia.org/w/index.php?curid=7999438</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>Par ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=487437</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>By James Lindsey at Ecology of Commanster, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=1680682</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>By Gyorgy Csoka, Hungary Forest Research Institute, Bugwood.org - This image is Image Number 5371113 at Insect Images, a source for entomological images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service.(cropped), CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=6730871</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By Gyorgy Csoka, Hungary Forest Research Institute, Bugwood.org - This image is Image Number 5371114 at Insect Images, a source for entomological images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service.(Cropped), CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=7021792</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span>By Cwmhiraeth - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=49709613</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 11:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=15884293</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 12:</span><br>
                        <span>By No machine-readable author provided. Bogdan assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 13:</span><br>
                        <span>Di Hugo.arg - Opera propria, GFDL, https://commons.wikimedia.org/w/index.php?curid=3135124</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>


    <!-- Аскохитоза -->
    <!-- <div class="aa-title" id="ascochyta-lentis">
        <span></span>
    </div>
    <div class="row" >
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Аскохитоза – <span class="latin_name">Ascochyta lentis</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                По листчетата се формират малки, бързо нарастващи кафяви, кръгли петна с множество черни точици (плодните
                тела на гъбата-пикнидии). Силно нападнатите листчета изсъхват и опадат; по стъблата и разклоненията петната
                са кафяви, нарастващи пръстеновидно, в резултат на което органите над тях загиват; по бобове и семена петната
                са кръгли, кафяви, покрити с пикнидии.
            </p>
            <p>
                Гъбата се съхранява в заразените семена и растителните остатъци. Разпространението и през вегетацията се
                осъществява с дъждовната вода. За развитието на болестта е необходима температура около 15°С и висока
                относителна влажност.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Използването на здрави семена, дълбокото заораване на растителните остатъци и правилно сеитбообращение с
                пространствена изолация от миналогодишните ниви са основни мероприятия, включени в добрата растителнозащитна
                практика. Обеззаразяване на семената и третиране на посевите с фунгициди ограничава развитието на болестта
                през вегетацията.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма регистрирани.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/diseases/ascochyta_lentis.jpg"
                    data-title="Аскохитоза">
                        <img src="../../../../../assets/diseases/ascochyta_lentis_thumb.jpg" 
                        alt="Ascochyta-lentis" title="Ascochyta lentis"/>
                        <span class="title_thumb">Аскохитоза</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Аскохитоза -->

    <!-- Антракноза -->
    <!-- <div class="aa-title" id="colletotrichum-truncatum">
        <span></span>
    </div>
    <div class="row" >
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Антракноза – <span class="latin_name">Colletotrichum truncatum</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Първите признаци се наблюдават по време на цъфтеж, по долните листчета петната са черни, слети в пригорни
                зони, което води до загиване на листната петура; по стъблата петната са кафяви с черна периферия, в центъра
                им се образуват микросклероции.
            </p>
            <p>
                Гъбата се съхранява в заразените растителни остатъци и в почвата под формата на микросклероции. Разпространението
                на болестта през вегетацията се осъществява с дъждовната вода, а нейното развитие се благоприятства от влажни
                условия и температура в границите 20-24°С.
            </p>

            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Задължителните мероприятия, препоръчвани от Добрата растителнозащитна практика са: сеитбообращение, дълбоко
                заораване на растителните остатъци; използване на устойчиви сортове; третиране на посевите с фунгициди във
                фенофаза-начало на цъфтеж, при поява на първите признаци на болестта.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма регистрирани продукти за растителна защита.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/diseases/Colletotrichum_truncatum.jpg"
                    data-title="Антракноза">
                        <img src="../../../../../assets/diseases/Colletotrichum_truncatum_thumb.jpg" 
                        alt="Colletotrichum-truncatum" title="Colletotrichum truncatum"/>
                        <span class="title_thumb">Антракноза</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Антракноза -->

    <!-- Ръжда -->
    <!-- <div class="aa-title" id="uromyces-fabae">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Ръжда – <span class="latin_name">Uromyces fabae</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                По листата напролет се появяват дребни групи от ецидии, а по-късно жълто-кафяви прашести уредосори, които
                са закръглени до елиптични, със или без бледожълто-зелен венец. В края на вегетацията по всички зелени
                части се образуват черни, прашести телейтосори. Нападението води до некроза около сорите, пригор и окапване
                на листата, вследствие на което бобовете остават дребни, а семената недоразвити.
            </p>
            <p>
                Гъбата е автоециден, облигатен патоген, чийто цикъл на развитие преминава изцяло върху лещата. Презимува
                като телейтоспори, основно полепнали по семената. Болестта се развива при температура 20-22°С и висока влажност.
            </p>

            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Основните мероприятия, включени в Добрата растителнозащитна практика, са: спазване на сеитбообращение с
                пространствена изолация от миналогодишни посеви; унищожаване на растителните остатъци; оптимална за условията
                на региона сеитба; устойчиви сортове; третиране през вегетацията с подходящи фунгициди.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма регистрирани продукти за растителна защита.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/diseases/Uromyces_fabae.jpg"  
                    data-title="Ръжда">
                        <img src="../../../../../assets/diseases/Uromyces_fabae_thumb.jpg"
                                alt="Uromyces-fabae" title="Uromyces fabae"/>
                        <span class="title_thumb">Ръжда</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!--КРАЙ Ръжда -->

    <!-- Фузарийно увяхване -->
    <!-- <div class="aa-title" id="fusarium-oxysporum">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Фузарийно увяхване -<span class="latin_name">Fusarium oxysporum f.sp. lentis</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Във фенофаза цъфтеж растенията пожълтяват, увяхват и загиват. Гъбата се съхранява в нападнатите растителни
                остатъци и почвата под формата на хламидоспори. През вегетацията се разпространява чрез микро- и макроконидии
                посредством дъждовете.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Основните мероприятия, включени в Добрата растителнозащитна практика, са: спазване на сеитбообращение;
                унищожаване на растителните остатъци; оптимална за условията на региона сеитба; устойчиви сортове.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма регистрирани продукти за растителна защита.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!--КРАЙ Фузарийно увяхване -->

    <!-- Склеротийно гниене -->
    <!-- <div class="aa-title" id="sclerotinia-sclerotiorum">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent" >
            <h3 >Склеротийно гниене – <span class="latin_name">Sclerotinia sclerotiorum</span></h3>
            <h4 class="my_class_h4">Описание на болестта</h4>
            <p>
                Ранната проява на болестта е свързана със загиване на кълновете и пониците. Нападнатите органи (стъбла,
                разклонения, листа и бобове) загниват, отначало тъканите са воднисто-зелени, постепенно придобиват охрен
                цвят, при влажно време се покриват с бял памуковиден мицел, който образува черни, полусферични грапави
                склероции. Загнилите листа стават кафяви.
            </p>
            <p>
                Стопанското значение на склеротийното гниене по лещата в България се определя не само от преките щети, които
                нанася болестта, но и от включването на тази култура в сеитбообращение. Гъбата има голям брой
                гостоприемници-фасул, грах, бакла, слънчоглед, домати, пипер, моркови и др.
            </p>
            <p>
                <span class="latin_name bold">S. sclerotiorum</span> няма конидийна форма. Склероциите варират по големина
                и съхраняват гъбата в болните, растителни остатъци и почвата. Заразяването и развитието на болестта се
                благоприятства от влажни и хладни (20-25°С) условия по време на цъфтеж. Разпространението на гъбата през
                вегетацията се осъществява чрез дъждовните и поливни води и при допир на здрави до заразени тъкани.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Спазването на 3- до 4-годишен сеитбооборот с житни и други ненападащи се от гъбата култури е основното средство за борба със склеротийното увяхване.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма регистрирани продукти за растителна защита.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/diseases/Sclerotinia_sclerotiorum.jpg" 
                    data-title="Склеротийно гниене">
                        <img src="../../../../../assets/diseases/Sclerotinia_sclerotiorum_thumb.jpg" 
                        alt="Sclerotinia-sclerotiorum" title="Sclerotinia sclerotiorum"/>
                        <span class="title_thumb">Склеротийно гниене</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Склеротийно гниене -->

    <!-- ВИРУСНИ БОЛЕСТИ -->
    <!-- <div class="aa-title" id="bean-yellow">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Жълта фасулева мозайка – <span class="latin_name">Bean yellow mosaic potyvirus</span> (BYMV)</h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Растенията силно закържавяват и имат хлоротичен вид поради пожълтяване на листенцата им.
            </p>
            <p>
                Вирусните болести по лещата са слабо проучени.
            </p>

            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Борбата с вирусните болести се извежда трудно, поради което загубите от тях са значителни. Тъй като няма
                средства за лечение на вирусно болните растения, мерките за опазването им трябва да бъдат насочени към
                предпазване от инфекция. Превантивните мерки за ефикасен контрол, които са в основата на Добрата растителнозащитна
                практика, включват: използване на здрав, посевен материал; унищожаване на източниците на инфекция (болни
                растения и плевели), ограничаване разпространяването на вируса от векторите (листни въшки) чрез третиране
                с инсектициди и минерални масла, както и избор на устойчиви и толерантни сортове.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ ВИРУСНИ БОЛЕСТИ -->

    <!-- НЕПРИЯТЕЛИ -->
    <!-- Лещен зърнояд -->
    <!-- <div class="aa-title" id="bruchus-lentis">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Лещен зърнояд – <span class="latin_name">Bruchus lentis</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Повсеместно разпространен. Бръмбарът е овален, слабо сплеснат, с дължина 3-3,5 mm. Тялото е черно, покрито
                с гъсти сиво-пепеливи космици. Преднегръдът е два пъти по-широк, отколкото дълъг, отгоре гъсто точкуван.
                Елитрите са покрити с гъсти сиви до кафяво-сиви власинки, които образуват продълговати петна. Яйцето е
                овално-продълговато, млечнобяло. Неприятелят зимува като възрастно насекомо в домакинствата, под напуканата
                кора на дърветата и др.
            </p>
            <p>
                Видът развива едно поколение годишно. Напролет със затопляне на времето бръмбарът започва да лети и се храни
                с прашец и нектар от цъфтящите растения. По-късно, когато цъфнат лещените посеви, бръмбарите преминават по
                тях и се хранят, без да повреждат цветовете. Женската снася по първите чушки в началото на юни. Яйцата са
                разположение от двете страни на чушката, където се оформя зърното. Излюпената ларва не напуска хориона и
                не пълзи по чушката. Тя прогризва обвивката непосредствено под яйцето и се вгризва в още меките зърна.
                Мястото на вгризване е видимо като малка, кафява точка. Ларвата се храни, без да засяга зародиша.
                Какавидира в камерка под семенната обвивка, като преди това изгризва прозорче под нея.
            </p>

            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Добрата растителнозащитна практика изисква използване на здрав посевен материал, навременно прибиране и
                овършаване на семената, дълбока обработка на почвата и заораване на оронените чушки и семена.
            </p>
            <p>
                На полето борбата е насочена е срещу възрастното насекомо преди яйцеснасяне.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма регистрирани продукти за растителна защита.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Лещен зърнояд -->

    <!-- Грудкови хоботници -->
    <!-- <div class="aa-title" id="curculionidae">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Грудкови хоботници – <span class="latin_name">Sitona crinita</span> и <span class="latin_name">Sitona lineata</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                <span class="latin_name bold">S. crinita</span> е повсеместно разпространен неприятел. Тялото е покрито със
                сиви люспи. Елитрите са с тъмни петна и жълто-сиви ивици. Яйцето е сферично, бледожълто до черно. Ларвата
                е белезникава, дъговидна, месеста. Зимува като възрастно насекомо под растителни остатъци плитко в почвата,
                около корените на многогодишни бобови треви.
            </p>
            <p>
                Видът развива едно поколение годишно. Бръмбарите се появяват напролет и се хранят с многогодишните бобови
                треви. След поникване на едногодишните бобови култури мигрират по тях, като перфорират и нагризват листата,
                повреждат стъблата и вегетационния връх. Ларвите се хранят с грудките по корените.
            </p>
            <p>
                Видът <span class="latin_name bold">S. lineata</span> има сходна биология и навици.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Добрата растителнозащитна практика включва прилагане на всички агротехнически мероприятия. Задължителна
                дълбока оран и пространствена изолация от многогодишни бобови треви. Третирания срещу възрастните насекоми
                се провеждат до фаза 2-3-и същински лист при плътност над 2 бр./ м<sup>2</sup>.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as"><span class="active-substance">Няма регистриани продукти за растителна защита.</span></p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/insects/Sitona_lineata.jpg"
                    data-title="Грудкови хоботници - Sitona lineata">
                        <img src="../../../../../assets/insects/Sitona_lineata_thumb.jpg"
                                alt="Sitona-lineata" title="Грудкови хоботници"/>
                        <span class="title_thumb">Грудкови хоботници</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Грудкови хоботници -->

    <!-- листозавивачка -->
    <!-- <div class="aa-title" id="laspeyresia-nigricana">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Тъмна грахова листозавивачка – <span class="latin_name">Laspeyresia nigricana</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Повсеместно разпространена. Възрастната пеперуда достига до 17 мм. Предните крила са светло- или маслиненокафяви
                с дребни белезникави петънца. Задните крила при женските са кафяви, а при мъжките по-светли с кафяв край.
                Яйцето е овално, с мрежест хорион, бяло до жълтеникаво. Гъсеницата е жълтеникава. Зимува като гъсеница в
                почвата на дълбочина 2-4 mm в копринен пашкул.
            </p>
            <p>
                Видът развива едно поколение годишно. Пеперудите летят по време на цъфтежа на граха. Гъсениците се вгризват
                в чушките през шевовете и унищожават семената.
            </p>

            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Прилагане на подходяща агротехника - по възможност да се прави по-ранна сеитба, своевременно прибиране и
                овършаване на реколтата, унищожаване на растителните остатъци след вършитбата, дълбока оран; осигуряване
                на пространствена изолация между посевите с грах и фий.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма регистрирани продукти за растителна защита.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/insects/Cydia.nigricana.jpg"
                    data-title="Тъмна грахова листозавивачка">
                        <img src="../../../../../assets/insects/Cydia.nigricana_thumb.jpg"
                                alt="Laspeyresia-nigricana" title="Тъмна грахова листозавивачка"/>
                        <span class="title_thumb">Тъмна грахова листозавивачка</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ листозавивачка -->

    <!-- петточков хоботник  -->
    <!-- <div class="aa-title" id="tychius-quinquepunctatus">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Бобов петточков хоботник – <span class="latin_name">Tychius quinquepunctatus</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Повсеместно разпространен. Възрастното е бръмбар, бронзово-червен, на преднегръда с едно, а на елитрите по
                две бели петна. Дължината на тялото е от 3 до 5 мм. Яйцето е бяло, продълговато-овално. Ларвата е набръчкана,
                месеста, леко извита, белезникава до кремава. Зимува като възрастно насекомо в почвата.
            </p>
            <p>
                Видът развива едно поколение годишно. Възрастното хоботниче се появява в началото на май. Поврежда надземните
                части на растенията-листа, стъбла, чушки, като ги нагризва, а ларвата поврежда семената, като изяжда
                вътрешността им без външната обвивка. В едно зърно се развиват 2-3 и повече ларви.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                След прибиране на реколтата прилагане на дълбока оран. На полето е насочена срещу възрастното насекомо
                преди яйцеснасяне.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма регистрирани продукти за растителна защита.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/insects/Tychius_quinquepunctatus.jpg"
                    data-title="Бобов петточков хоботник">
                        <img src="../../../../../assets/insects/Tychius_quinquepunctatus_thumb.jpg" 
                        alt="Tychius-quinquepunctatus" title="Бобов петточков хоботник"/>
                            <span class="title_thumb">Бобов петточков хоботник</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ петточков хоботник -->

    <!-- Бобова огневка -->
    <!-- <div class="aa-title" id="etiella-zinckenella">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Бобова огневка (соев молец) – <span class="latin_name">Etiella zinckenella</span></h3>
            <h4 class="my_class_h4">Описание на неприятеля</h4>
            <p>
                Видът е повсеместно разпространен. Възрастното насекомо е пеперуда с размер 21-26 mm. Предните крила са
                жълти или сиво-кафяви, с бяла надлъжна ивица към върха и оранжево петно в основата. Задните крила са
                светлосиви с ресни и напречни линии. Яйцето е овално-продълговато, белезникаво, с мрежеста структура.
                Гъсеницата варира по цвят от сиво-зелено до червено-кафяво. Зимува като напълно развита гъсеница в копринен
                пашкул в почвата.
            </p>
            <p>
                Огневката има две поколения и частично трето. Гъсеницата нагризва зелените зърна. Пеперудите летят към края
                на май. Първото поколение се развива през май-юли, а второто - през август-септември.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Дълбока оран на площите. Ранна сеитба, пространствена изолация между едногодишни и многогодишни бобови култури.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">Няма регистрирани продукти за растителна защита.</p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/insects/Etiella_zinckenella.jpg"
                    data-title="Бобова огневка (соев молец)">
                        <img src="../../../../../assets/insects/Etiella_zinckenella_thmb.jpg" 
                        alt="Etiella-zinckenella" title="Бобова огневка"/>
                        <span class="title_thumb">Бобова огневка</span>
                    </a>
                </li>
                <li>
                    <a data-lightbox="image" href="../../../../../assets/insects/Etiella_zinckenella_larva.jpg"
                    data-title="Бобова огневка - ларва">
                        <img src="../../../../../assets/insects/Etiella_zinckenella_larva_thumb.jpg" 
                        alt="Etiella-zinckenella-larva" title="Бобова огневка - ларва"/>
                        <span class="title_thumb">Бобова огневка - ларва</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel-back-link text-center">
                <div class="panel-heading panel-heading-back-link">
                    <a  class="back_link_bottom"
                        href="#pest_menu"
                        
                        title="към всички неприятели"
                        >
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        виж друг неприятел
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- КРАЙ Бобова огневка -->

    <!-- ПЛЕВЕЛИ -->
    <!-- <div class="aa-title" id="weed">
        <span></span>
    </div>
    <div class="row">
        <div class="pest-description-container col-md-10 text-justifysss text-indent">
            <h3 >Плевели</h3>
            <p>
                Лещата е ранна пролетна, нискостъблена култура, силно чувствителна на заплевеляване. В нейните посеви се
                развиват главно ранни пролетни плевели (дива ряпа, фасулче, полски синап) и по-ограничено късни пролетни
                (обикновен щир и бяла куча лобода). Добрата растителнозащитна практика изисква отстраняването на растителните
                остатъци от предшественика и подготовка на площите в зависимост от изискванията на културата. За да се избегне
                силно заплевеляване на площите, засяването на лещата трябва да става при разстояние между редовете на 10-12 см,
                за да се намали опасността от действието на хербицидите, дребносемените сортове да се засяват на дълбочина
                3-4 см, по-едросеменните - на 5-6 см. С цел да се улесни поникването и осигури по-равномерно напръскване
                с хербициди, важно е след засяването площта да се валира.
            </p>
            <h4 class="my_class_h4">Стратегия за борба</h4>
            <p>
                Добрата растителнозащитна практика включва комплексни мероприятия: агротехнически и химически за борба със
                заплевеляването в посевите. Агротехниката, която се прилага при отглеждането на лещата, има значение за
                унищожаването на плевелите. Основните агротехнически мероприятия в полета, засети с леща, са:
                сеитбообращения - ротация с окопни и житни култури; подходящи срокове и начини (редово) на сеитба; гъстота
                на посева; обработка на почвата (основната оран да се извършва рано, в съчетание с подходящи летно-есенни;
                в периода след сеитба, преди поникване на лещата да се извършва „сляпо“ брануване, с него се унищожават
                много от видовете, които изпреварват в развитието си културните растения; след поникване се препоръчват
                още 1-2 бранувания до цъфтежа, когато плевелите са в най-ранни фенофази-1-2 листа).
            </p>
            <p>
                Добър ефект в борбата срещу плевелите при лещата дава и използването на химически средства (хербициди).
                Внасянето им трябва да стане след установяване на видовия състав и степента на заплевеляване на площите.
            </p>
            <p>
                Използват се основно почвени хербициди, внесени след сеитба преди поникване срещу едногодишни, широколистни
                плевели и при прогноза за смесено заплевеляване от едногодишни, житни и широколистни видове.
            </p>
            <p>
                През вегетацията на лещата срещу житните видове могат да се прилагат листни хербициди.
            </p>
            <h4 class="my_class_h4 as">Активни вещества</h4>
            <p class="as">
                <span class="bold">Преди поникване: </span><br>
                - след сеитба - срещу едногодишни, широколистни:
                <span class="active-substance">метобромурон, имазетапир </span> (почвено);<br/>
                - срещу едногодишни, житни и широколистни:
                <span class="active-substance">ацетохлор, пропахлор</span> (почвено)
            </p>
            <p class="as">
                <span class="bold">След поникване: </span><br>
                - срещу едногодишни и многогодишни, житни:
                <span class="active-substance">флуазифоп-П-бутил</span> (вегетационно);<br/>
            </p>
        </div>
        <div class="pest-image-container col-md-2 img-thumbnail" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/weeds/Raphanus_raphanistrum1.jpg" 
                    data-title="Дива ряпа">
                        <img src="../../../../../assets/weeds/Raphanus_raphanistrum1_thumb.jpg" 
                        alt="Raphanus raphanistrum" title="Дива ряпа"/>
                        <span class="title_thumb">Дива ряпа</span>
                    </a>
                </li>
                <li>
                    <a data-lightbox="image" href="../../../../../assets/weeds/Brassicaceae_-_Sinapis_arvensis_(3).jpg" 
                    data-title="Полски синап">
                        <img src="../../../../../assets/weeds/Brassicaceae_-_Sinapis_arvensis_(3)_thumb.jpg" 
                        alt="Sinapis-arvensis" title="Полски синап"/>
                        <span class="title_thumb">Полски синап</span>
                    </a>
                </li>
                <li>
                    <a data-lightbox="image" href="../../../../../assets/weeds/Amaranthus_retroflexus_bgiu.jpg" 
                    data-title="Щир">
                        <img src="../../../../../assets/weeds/Amaranthus_retroflexus_bgiu_thumb.jpg" 
                        alt="Amaranthus sp." title="Щир"/>
                        <span class="title_thumb">Щир</span>
                    </a>
                </li>
                <li>
                    <a data-lightbox="image" href="../../../../../assets/weeds/ChenopodiumAlbum001.jpg" 
                    data-title="Бяла куча лобода">
                        <img src="../../../../../assets/weeds/ChenopodiumAlbum001_thumb.jpg" 
                        alt="Chenopodium album" title="Бяла куча лобода"/>
                        <span class="title_thumb">Бяла куча лобода</span>
                    </a>
                </li>
            </ul>
        </div>
    </div> -->
    <!-- КРАЙ ПЛЕВЕЛИ -->

    