.bold {
    font-weight: bolder;
}
.note {
    text-decoration: underline;
}
.afterNote {
    font-size: 0.9em;
}
p {
    -webkit-margin-before: .3em;
    -webkit-margin-after: .8em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.against {
    text-decoration: underline;
    font-size: 0.9em;
}
hr {
    border-color: rgba(0, 0, 0, 0.1);
}
// .td_span {
//     -webkit-margin-before: .3em;
//     -webkit-margin-after: .3em;
//     -webkit-margin-start: 0px;
//     -webkit-margin-end: 0px;
// }
// .p_dose {
//     -webkit-margin-before: .8em;
//     -webkit-margin-after: .8em;
//     -webkit-margin-start: 0px;
//     -webkit-margin-end: 0px;
// }

.dialog-header {
    background: #638b34;
    color: rgb(255, 255, 255);
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    // margin-right: 15px;
    h2 {
        margin: 0 auto;
    }
}

.example-card {
    // margin: 0 auto;
    margin-bottom: 10px;
    background: rgba(133, 133, 133, 0.1);
}
.example-spacer {
    flex: 1 1 auto;
}
// .card-top {
//     margin-bottom: 10px;
// }