<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >КОРЕНОВИ  И  СТЪБЛЕНИ  ЗЕЛЕНЧУЦИ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
          <p>Feller et al., 1995 a</p>
          <p>
            Фенологични  фази на растеж и ВВСН-ключове за тяхната идентификация при коренови и стъблени зеленчуци: 
            морков (<span class="italic">Daucus carota</span> L. ssp.<span class="italic">sativus</span>); 
            целина (<span class="italic">Apium graveolens</span> L. var. <span class="italic">rapaceum</span> Gaud), 
            алабаш (<span class="italic">Brassica oleraceae</span> L. var. <span class="italic">gongylodes</span>), 
            цихория (<span class="italic">Cichorium intybus</span> var. <span class="italic">foliosum</span>), 
            ряпа (<span class="italic">Raphanus sativus</span> L.), 
            шведско цвекло-swede (<span class="italic">Brassica napus</span> L. ssp. <span class="italic">rapifera</span>), 
            scorzonera (<span class="italic">Scorzonera hispanica</span> L.)
          </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="bold line-bottom" colspan="2">Главна фаза на растеж О: Покълнване</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Тук няма Снимки -->
</div>

<!-- class="line-up-bold" colspan="2" -->
<!-- class="bold line-bold" colspan="2" -->
<!-- class="bold line-bottom" colspan="2" -->
<!-- 
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
 -->




